<main class="mainAreaDetails8">
    <div class="detailsTop" style="    background-image: url('<?php echo $kd->program_details->image ; ?>');
    background-position: center;
    background-size: cover;
    display: flex;">
        <div class="coverRow">
            <div class="coverRowDetails">
                <div class="CoverUniLogo">
                    <img src="<?php echo $kd->program_details->logo; ?>" alt="" srcset="">
                </div>
                <div class="coverUniText">
                    <span class="coverUniName"><?php echo   $kd->program_detailts->university; ?></span>
                    <span class="coverUniPro"><?php echo   $kd->program_detailts->department; ?></span>
                    <span class="coverUniCity"><?php echo $kd->program_detailts->location; ?> </span>
                </div>
            </div>
            <a href="{{LINK apply}}/<?php echo  $kd->program_detailts->id; ?>/<?php echo  $kd->program_detailts->university_id; ?>/<?php echo  $kd->program_detailts->id; ?>"><button class="redBtn8">{{LANG Apply}}</button></a>
        </div>
    </div>
    <div class="detialOptions8">
        <div class="detailsCards8">
            <span class="dark_color bold700 font4" style="margin-bottom: 5px;"><?php echo  $kd->program_detailts->duration; ?> {{LANG Years}}</span>
            <span class="detailsCardheader font2">
                <i class="fas fa-clock"></i>
                <span>{{LANG Duration}}</span>
            </span>
        </div>
        <div class="detailsCards8" >
            <span class="dark_color bold700 font4" style="margin-bottom: 5px;"><?php echo   $kd->program_detailts->language; ?> </span>
            <span class="detailsCardheader font2" >
            <i class="fa fa-globe" aria-hidden="true"></i>
                <span>{{LANG Langauge}}</span>
            </span>
        </div>
        <div class="detailsCards8" >
            <span class="dark_color bold700 font4" style="margin-bottom: 5px;"><?php echo   $kd->program_detailts->tuition_fee; ?> / {{LANG Year}}</span>
            <span class="detailsCardheader font2" >
                <i class="fas fa-money-bill-alt"></i>
                <span>Annual Fee</span>
            </span>
        </div>
        <div class="detailsCards8" >
            <span class="dark_color bold700 font4" style="margin-bottom: 5px;"><?php echo   $kd->program_detailts->discounted_fee; ?> / {{LANG Year}}</span>
            <span class="detailsCardheader font2" >
                <i class="fa fa-tags"></i>
                <span >{{LANG Discounted fee }}</span>
            </span>
        </div>
    </div>
    <div class="mainDetialsContainer">
        <div class="leftMainDetails">
            <div class="leftMainDetailsRows">
                <p class="font4 blue_color bold600">{{LANG Description}}</p>
                <p class="font3 dark_color mt-5">
                    <?php  echo      $kd->program_detailts->description;
                    ?>
                </p>
            </div>
            <div class="leftMainDetailsRows">
                <p class="font4 blue_color bold600">{{LANG Requirements}}</p>
                <p class="font3 mt-5 dark_color"> <?php  echo      $kd->program_detailts->requirements;
                    ?> </p>
            </div>
            <div class="leftMainDetailsRows">
                <p class="font4 blue_color bold600">{{LANG Discipline}}</p>
                <p class="font3 mt-5 dark_color"> <?php  echo      $kd->program_detailts->discipline;
                    ?></p>
            </div>
        </div>
        <div class="rightMainDetails">
            <p class="font4 blue_color bold600">{{LANG Program Overview}}</p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG University}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->university; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Department}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->department; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Langauge}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->language; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Degree}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->type; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Duration}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->duration; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Tuition Fees}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->tuition_fee; ?></span>
            </p>
            <p>
                <span class="dark_gray_color font3 bold600">{{LANG Our Fee}} :</span>
                <span class="dark_color font3"><?php echo   $kd->program_detailts->discounted_fee; ?></span>
            </p>
            
                <a href="{{LINK apply}}/<?php echo  $kd->program_detailts->id; ?>/<?php echo  $kd->program_detailts->university_id; ?>/<?php echo  $kd->program_detailts->id; ?>"><button class="redBtn8">{{LANG Apply}}</button></a>
            
        </div>
    </div>
  </main>