<div class="programCard8">
    <div class="programCardLeft8">
      <div class="cardTop8">
        <div class="cardTopLeftImg" style="background-image: url('{{univerisity_logo}}') !important; background-position: center !important;
        background-size: cover !important;"></div>
        <div class="cardTopRight">
          <span class="cardUniName">{{department}}</span>
          <span class="cardProName"
            >{{university}}</span
          >
          <span class="cardCityName">{{location}}</span>
        </div>
      </div>
      <div class="cardBottom8">
        <div class="cardDetailcards">
          <span class="DetHeader8">{{LANG Duration}}</span>
          <span class="DetText8">{{duration}} {{LANG years}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="DetHeader8">{{LANG Language}}</span>
          <span class="DetText8">{{language}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="DetHeader8">{{LANG Annual fee}}</span>
          <span class="DetText8">{{tuition_fee}} / {{LANG year}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="DetHeader8">{{LANG Our fee}}</span>
          <span class="DetText8">{{discounted_fee}} / {{LANG year}}</span>
        </div>
      </div>
    </div>
    <div class="programCardRight8">
      <button class="blueBtn8" onclick="AddToList({{id}}, '{{university}}', '{{department}}', '{{location}}',{{university_id}});">{{LANG Add to Application List}}</button>
      <a href="{{LINK apply}}/{{id}}/{{university_id}}/{{department_id}}"><button class="redBtn8">{{LANG Apply Now}}</button></a>
      <a href="{{LINK program-details}}/{{id}}"><button class="whiteBtn8">{{LANG Details}}</button></a>
    </div>
</div>