<div class="programCard8">
    <div class="programCardLeft8">
      <div class="cardTop8">
        <img class="program_card_image" src={{univerisity_logo}} alt="univerisity_logo">
        <div class="cardTopRight">
          <span class="cardUniName font4 sentence">{{department}}</span>
          <span class="cardProName dark_color font2 sentence">{{university}}</span>
          <span class="cardCityName dark_gray_color font2 sentence">{{location}}</span>
        </div>
      </div>
      <div class="cardBottom8">
        <div class="cardDetailcards">
          <span class="font2 dark_gray_color">{{LANG Duration}}</span>
          <span class="font3 bold600 dark_color">{{duration}} {{LANG years}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="font2 dark_gray_color">{{LANG Language}}</span>
          <span class="font3 bold600 dark_color">{{language}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="font2 dark_gray_color">{{LANG Annual fee}}</span>
          <span class="font3 bold600 dark_color">{{tuition_fee}} / {{LANG year}}</span>
        </div>
        <div class="cardDetailcards">
          <span class="font2 dark_gray_color">{{LANG Our fee}}</span>
          <span class="font3 bold600 dark_color">{{discounted_fee}} / {{LANG year}}</span>
        </div>
      </div>
    </div>
    <div class="program_card_btns font2">
      <p class="blueBtn8 font2" onclick="AddToList('{{id}}', '{{university}}', '{{department}}', '{{location}}','{{university_id}}');">{{LANG Add to Cart}}</p>
      <a class="redBtn8" href="{{LINK apply}}/{{id}}/{{university_id}}/{{department_id}}">{{LANG Apply Now}}</a>
      <a class="whiteBtn8" href="{{LINK program-details}}/{{id}}">{{LANG Details}}</a>
    </div>
</div>