<div class="uniCard8">
    <div class="uniPic8" style="background-image: url('{{main_image}}'); background-position: center;
    background-size: cover;"></div>
    <div class="uniMain8">
        <div class="uniMaimHeaader blue_color font3 bold600 sentence m-5">{{university}}</div>
        <div class="uniTwoCards">
            <div class="cardDetailcards">
                <span class="font2 dark_gray_color">{{LANG City}}</span>
                <span class="font3 bold600 dark_color">{{location}}</span>
            </div>
            <div class="cardDetailcards">
                <span class="font2 dark_gray_color">{{LANG Foundation}}</span>
                <span class="font3 bold600 dark_color">{{foundation}}</span>
            </div>
        </div>
        <div class="uniTwoCards">
            <div class="cardDetailcards">
                <span class="font2 dark_gray_color">{{LANG International}}</span>
                <span class="font2 dark_gray_color">{{LANG Students}}</span>
                <span class="font3 bold600 dark_color">{{total_students}}</span>
            </div>
            <div class="cardDetailcards">
                <span class="font2 dark_gray_color">{{LANG Total}}</span>
                <span class="font2 dark_gray_color">{{LANG Programs}}</span>
                <span class="font3 bold600 dark_color">{{total_programs}}</span>
            </div>
        </div>
    </div>
    <div class="uniBtns8">
        <a href="{{LINK program}}"><button class="redBtn8">{{LANG Apply}}</button></a>
        <a href="{{LINK university-details}}/{{id}}"><button class="blueBtn8">{{LANG Details}}</button></a>
    </div>
</div>