<div class="uniCard8">
    <div class="uniPic8" style="background-image: url('{{main_image}}'); background-position: center;
    background-size: cover;"></div>
    <div class="uniMain8">
        <div class="uniMaimHeaader">{{university}}</div>
        <div class="uniTwoCards">
            <div class="cardDetailcards">
                <span class="DetHeader8">{{LANG City}}</span>
                <span class="DetText8">{{location}}</span>
            </div>
            <div class="cardDetailcards">
                <span class="DetHeader8">{{LANG Foundation}}</span>
                <span class="DetText8">{{foundation}}</span>
            </div>
        </div>
        <div class="uniTwoCards">
            <div class="cardDetailcards">
                <span class="DetHeader8">{{LANG International Students}}</span>
                <span class="DetText8">{{total_students}}</span>
            </div>
            <div class="cardDetailcards">
                <span class="DetHeader8">{{LANG Total Programs}}</span>
                <span class="DetText8">{{total_programs}}</span>
            </div>
        </div>
    </div>
    <div class="uniBtns8">
        <a href="{{LINK program}}"><button class="redBtn8">{{LANG Apply}}</button></a>
        <a href="{{LINK university-details}}/{{id}}"><button class="blueBtn8">{{LANG Details}}</button></a>
    </div>
</div>