/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

:root{
    --BLUE: #054EA1;
    --DARK_BLUE: #012F75;
    --GREEN: #02BC86;
    --DARK: #3D3E4E;
    --DARK_GRAY_TEXT: #686B81;


}

.font1{ font-size: 11px !important;}
.font2{ font-size: 14px !important;}
.font3{ font-size: 17px !important;}
.font4{ font-size: 20px !important;}
.font5{ font-size: 25px !important;}
.font6{ font-size: 30px !important;}
.font7{ font-size: 35px !important;}
.font8{ font-size: 40px !important;}
.font9{ font-size: 50px !important;}
.bold300{ font-weight: 300 !important;}
.bold400{ font-weight: 400 !important;}
.bold500{ font-weight: 500 !important;}
.bold600{ font-weight: 600 !important;}
.bold700{ font-weight: 700 !important;}
.pointer{cursor: pointer;}
.dark_color{color:var(--DARK);}
.dark_gray_color{color:var(--DARK_GRAY_TEXT);}
.user_panel{ display: flex; min-height: 89vh; max-height: 90vh; }
.user_panel > *{ min-height: 89vh; max-height: 90vh; }
.dashoard_sidebar{ display: flex; flex-direction: column; background-color: var(--BLUE); width: 220px; }
.dashboard_top{ display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; padding: 15px 0; border-top: 1px solid #ffffff27; border-bottom: 1px solid #ffffff27; }
.dashboard_top p{ margin-top: 5px; }
.user_panel > section{ flex: 1; }


.nav_link{ display: flex; align-items: center; padding: 6px 10px; cursor: pointer; color: white; margin: 3px 10px; border-radius: 5px; margin-top: 6px; }
.nav_link:hover{ background-color: var(--DARK_BLUE); }
.nav_link > p{ margin-left: 10px; }

.messages{ display: flex; height: 100%; flex: 1; }
.message_list{ border-right: 1px solid #f1f1f1; display: flex; flex-direction: column; overflow-y: auto; height: 100%; max-height: 100%; padding-bottom: 80px; }
.message_list > p{ margin: 10px auto; }
.message_links{ border-top: 1px solid #f1f1f1; display: flex; flex-direction: column; }
.message_link{ display: flex; align-items: center; padding: 10px; cursor: pointer; border-bottom: 1px solid #f1f1f1; }
.message_link:hover{ background-color: #f1f1f1; }
.message_image{ width: 50px; height: 50px; border-radius: 50%; margin-right: 10px; }
.message_details{ width: 260px; }
.message_text{ line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.message_pad{ flex: 1; height: 100%; position: relative; display: flex; flex-direction: column; }
.message_pad_messages{ display: flex; flex-direction: column; height: 100%; max-height: 100%; overflow-y: auto; padding-bottom: 100px; }
.reply_pad{ display: flex; align-items: center; width: 100%; bottom: 0; position: absolute; padding: 10px; padding-bottom: 15px; background-color: var(--BLUE); }
.enter_message{ flex: 1; display: flex; align-items: center; }
.enter_message i{ cursor: pointer; margin: 5px; margin-left: 10px; color: white; font-size: 20px; }
.enter_message input{ flex: 1; background-color: #fff; outline: none; border-radius: 5px; border: none; padding: 5px; }
.get_image{ margin-right: 10px; }
.message_upload{ font-size: 20px; color: white; }

.message_row{ width: 100%; display: flex; padding: 10px 0; }
.message_row > *{ display: flex; }
.right_message{ justify-content: flex-end; }
.bubble_text{ max-width: 70%; min-width: 30%; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 7px 7px 3px 7px; }
.bubble_text .bold300{ margin: 4px 0; }
.left_bubble .bubble_text_arrival{ width: 100%; text-align: end; }
.message_row_image{ width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin: 0 10px; }
.left_bubble .bubble_text{ background-color: #EAEAEA; color: #4A4A4A; }
.bubble_text_right{ background-color: var(--BLUE); color: #fff; display: flex; flex-direction: column; max-width: 70%; min-width: 30%; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; padding: 7px 7px 3px 7px; margin-right: 10px; }
.bubble_text_right .bold300{ margin-bottom: 5px; }
.dashboard{
    padding: 15px 30px;
    min-height: 100%;
    background-color: #f9f9f9;
}
.dash_top_cards{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.dash_card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    max-width: 250px;
    width: 23%;
    padding: 20px 25px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}
.dash_top_cards > .dash_card:nth-child(1){
    background: linear-gradient(45deg, #24A1AD , #41B3C2)
}
.dash_top_cards > .dash_card:nth-child(2){
    background: linear-gradient(45deg, #F26C1F , #FC9D20)
}
.dash_top_cards > .dash_card:nth-child(3){
    background: linear-gradient(45deg, #2D8B68 , #4FA454)
}
.dash_top_cards > .dash_card:nth-child(4){
    background: linear-gradient(45deg, #E12B33 , #DF3B37)
}
.card_dets{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
}
.dash_mid{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.dash_mid > *{
    width: 48%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.ga_table{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background-color: white;
}
.ga_table th{
    background-color: var(--BLUE);
    color: white;
    padding: 12px 20px;
}
.ga_table td{
    text-align: center;
    color: var(--DARK);
    padding: 10px 20px;
}
.ga_table tr:nth-child(even){
    background: #1fe1fb0b;
}
.dash_notifications{
    overflow: hidden;
}
.dash_notifications > p{
    background-color: var(--BLUE);
    color: white;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
}
.nofify_rows{
    padding: 10px 20px;
    color: var(--DARK);
    font-size: 15px;
    cursor: pointer;
    background-color: white;
}

.dash_notifications .nofify_rows:nth-child(odd){
    background: #1fe1fb0b;
}

.notify_rows_time{
    margin-top: 5px;
    color: var(--BLUE);
}
.applications{
    padding: 15px 30px;
}
.applications .ga_table{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.ga_table_thumb{
    width: 45px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}
.ga_table_select{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.settings{
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
}
.settings_toggle{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 49%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
}
.toggle_gear{
    width: 35px;
    height: 20px;
    overflow: hidden;
    background-color: #dedede;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.toggle_gear_active{
    background-color: var(--BLUE) !important;
    justify-content: flex-end !important;
}
.toggle_knob{
    width: 20px;
    height: 19px;
    border-radius: 50%;
    background-color: white;
    margin: 1px;
}
.settings_text{
    flex: 1;
    color: var(--DARK);
    font-size: 15px;
}

.profile_pic_label{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.profile_pic_label img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile_pic_label i{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}
.profile_xd{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}
.profile_card{
    border-radius: 5px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_card_top{
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
}
.profile_card_top >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.profile_card_body{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile_card_inputs{
    width: 48%;
    margin-top: 10px;
    color: var(--DARK);
}
.profile_card_inputs input{
    padding: 10px;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
}
.profile_save_btn{
    margin:  0 auto;
    margin-top: 20px;
    padding: 10px;
    width: 500px;
    color: white;
    background-color: var(--BLUE);
    border-radius: 5px;
    border: none;
}
.notifications_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    height: 100%;
}
.notification_rows{
    width: 90%;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
}
.notification_text{
    margin: 5px 0;
}
.profile_nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.profile_nav > button{
    max-width: 120px;
    flex: 1;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid var(--BLUE);
    background-color: white;
    color: var(--BLUE);
    cursor: pointer;
}
.profile_nav > button:hover{
    background-color: var(--BLUE);
    color: white;
}
.profile_nav_active{
    background-color: var(--BLUE) !important;
    color: white !important;
}
.profile_detail_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media only screen and (max-width: 1120px) {
    .dash_card {
        max-width: 400px;
        width: 30%;
    }
    .dash_mid {
        flex-direction: column;
    }
    .dash_mid > *{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 940px) {
    .dash_card {
        max-width: 500px;
        width: 48%;
    }
}