@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

:root{
    --BLUE: #054EA1;
    --DARK_BLUE: #012F75;
    --GREEN: #02BC86;
    --DARK: #3D3E4E;
    --DARK_GRAY_TEXT: #686B81;


}

.font1{ font-size: 11px !important;}
.font2{ font-size: 14px !important;}
.font3{ font-size: 17px !important;}
.font4{ font-size: 20px !important;}
.font5{ font-size: 25px !important;}
.font6{ font-size: 30px !important;}
.font7{ font-size: 35px !important;}
.font8{ font-size: 40px !important;}
.font9{ font-size: 50px !important;}
.bold300{ font-weight: 300 !important;}
.bold400{ font-weight: 400 !important;}
.bold500{ font-weight: 500 !important;}
.bold600{ font-weight: 600 !important;}
.bold700{ font-weight: 700 !important;}
.pointer{cursor: pointer;}
.dark_color{color:var(--DARK);}
.dark_gray_color{color:var(--DARK_GRAY_TEXT);}
.user_panel{
    display: flex;
    min-height: 89vh;
    max-height: 90vh;
}
.dashoard_sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--BLUE);
    width: 220px;
}
.dashboard_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px 0;
    border-top: 1px solid #ffffff27;
    border-bottom: 1px solid #ffffff27;
}
.dashboard_top p{
    margin-top: 5px;
}



.nav_link{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    margin: 3px 10px;
    border-radius: 5px;
    margin-top: 6px;
}
.nav_link:hover{
    background-color: var(--DARK_BLUE);
}
.nav_link > p{
  margin-left: 10px;
}

.messages{
    display: flex;
    height: 100%;
}
.message_list{
    border-right: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    padding-bottom: 80px;
}
.message_list > p{
    margin: 10px auto;
}
.message_links{
    border-top: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
}
.message_link{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
}
.message_link:hover{
    background-color: #f1f1f1;
}
.message_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.message_details{
    width: 260px;
}
.message_text{
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}