<main class="user_panel">
	<nav class="dashoard_sidebar">
		<div class="dashboard_top font7" id="nav_top_agent">
			<i class="fas fa-user-alt"></i>
			<p class="font2">Agent</p>
		</div>
		<div class="dashboard_top font7" id="nav_top_student">
			<i class="fas fa-user-graduate "></i>
			<p class="font2" id="user_name">Student</p>
		</div>
		<div class="sidebar_navlinks">
			<a href="{{LINK dashboard/dashboard/}}{{USER username}}" data-load="?link1=dashboard&page=dashboard&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-th-large"></i>
					<p>{{LANG Dashboard}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/messages/}}{{USER username}}" data-load="?link1=dashboard&page=messages&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-envelope"></i>
					<p>{{LANG Messages}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/students/}}{{USER username}}" data-load="?link1=dashboard&page=students&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-user-graduate "></i>
					<p>{{LANG Manage Students}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/applications/}}{{USER username}}" data-load="?link1=dashboard&page=applications&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-file"></i>
					<p>{{LANG Applications}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/notifications/}}{{USER username}}" data-load="?link1=dashboard&page=notifications&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-bell"></i>
					<p>{{LANG Notifications}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/profile/}}{{USER username}}" data-load="?link1=dashboard&page=notifications&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-user-circle"></i>
					<p>{{LANG Profile}}</p>
				</div>
			</a>
			<a href="{{LINK dashboard/settings/}}{{USER username}}" data-load="?link1=dashboard&page=settings&user={{USER username}}">
				<div class="nav_link">
					<i class="fas fa-cog"></i>
					<p>{{LANG Settings}}</p>
				</div>
			</a>
			<a href="{{LINK logout}}">
				<div class="nav_link">
					<i class="fas fa-sign-out-alt"></i>
					<p>{{LANG Logout}}</p>
				</div>
			</a>
		</div>
	</nav>
	<section>
		{{PROFILE_PAGE}}
	</section>
</main>

<script>
	$.get('{{LINK aj}}' + "/user_dashboard/get_user_applications?hash=" + $('.main_session').val(), {request_type:"sidebar"}, (data => {
		if(data.status === 200){
			if(data.user_data.account_type === "applicant" ) {
				document.getElementById("nav_top_student").style.display = "flex"
				document.getElementById("user_name").innerHTML = `${data.user_data.first_name} ${data.user_data.last_name} `
			}
			else document.getElementById("nav_top_agent").style.display = "flex"
        }
    }));

	// const user = Math.ceil(Math.random() * 2000)
	// if(user%2 === 0) document.getElementById("nav_top_agent").style.display = "none"
	// else document.getElementById("nav_top_student").style.display = "none"
</script>
