
 <div class="loginDiv">
      <div class="loginLeft">
        <img
          src="https://www.jotform.com/uploads/biggajans/form_files/global-academia-logo.60aab490ba79b0.48225771.png"
        />
        <p>GLOBAL ACADEMIA</p>
      </div>
      <div class="loginRight">
          <!-- Login form -->
          <span class="loginToggle" id="auth_login">
                <p>{{LANG Login}}</p>
                <form id="login-form" class="loginForm" method="post" role="form">
                    <div class="login-alert"></div>    
                    <label>{{LANG Username}}</label>
                    <input type="text" name="username" id="username" placeholder="{{LANG username}}">
                    <label>{{LANG Password}}</label>
                    <input type="password" name="password" id="password" placeholder="{{LANG password}}">
                    <button class="whiteBtn8" type="submit" id="login_btn">{{LANG Login}}</button> 
                </form>
                <button class="switch_auth" onclick="switchAuth('auth_forgot')">Forgot Password?</button>
                <button class="switch_auth" onclick="switchAuth('auth_register')">{{LANG Dont have an Account}}?</button>
          </span>

          <!-- forgot password -->
            <span class="loginToggle" id="auth_forgot">
                <p>{{LANG Reset Password}}</p>
                <form id="resetCode" class="loginForm" method="post">
                    <div class="login-alert"></div>    
                    <label>{{LANG Email}}</label>
                    <input type="text" name="email" id="rest_email" placeholder="{{LANG Enter your Email}}">
                    <div class="whiteBtn8" onclick="switchAuth('reset_code')">{{LANG Send Reset Code}}</div> 
                </form>
                <button class="switch_auth" onclick="switchAuth('auth_login')">{{LANG Login Instead}}?</button>
                <button class="switch_auth" onclick="switchAuth('auth_register')">{{LANG Dont have an Account}}?</button>
            </span>

            <!-- Enter Reset Code -->
            <span class="loginToggle" id="reset_code">
                <p>{{LANG Reset Code}}</p>
                <form id="" class="loginForm comfimCode" method="post">
                    <div class="login-alert"></div>    
                    <label>{{LANG Reset Code}}</label>
                    <input type="text" name="username" id="username" placeholder="{{LANG Enter your reset Code}}">
                    <button class="whiteBtn8" type="submit" id="login_btn" onclick="switchAuth('new_passowrd')">{{LANG Confirm Reset Code}}</button> 
                </form>
                <button class="switch_auth" onclick="switchAuth('auth_forgot')">{{LANG Resend Code}}?</button>
                <button class="switch_auth" onclick="switchAuth('auth_login')">{{LANG Login Instead}}?</button>
            </span>

            <!-- Create new Password -->
            <span class="loginToggle" id="new_passowrd">
                <p>{{LANG New Passowrd}}</p>
                <form id="" class="loginForm" method="post" role="form">
                    <div class="login-alert"></div>    
                    <label>{{LANG New Passowrd}}</label>
                    <input type="text" name="username" id="username" placeholder="{{LANG Enter New Passowrd}}">
                    <label>{{LANG Confirm Password}}</label>
                    <input type="text" name="username" id="username" placeholder="{{LANG Enter Confirm Password}}">
                    <button class="whiteBtn8" type="submit" id="login_btn" onclick="switchAuth('auth_login')">{{LANG Save Password}}</button> 
                </form>
                <button class="switch_auth" onclick="switchAuth('auth_login')">{{LANG Login Instead}}?</button>
                <button class="switch_auth" onclick="switchAuth('auth_register')">{{LANG Dont have an Account}}?</button>
            </span>

            <!-- Create new Account -->
            <span class="registerToggle" id="auth_register">
                <p>{{LANG Register}}</p>
                <div class="register-alert"></div> 
                <form id="register-form" class="loginForm" method="post" role="form">
                    <div class="alert alert-danger alert-empty" id="output-singup-errors"></div>

                    <label>{{LANG Account Type}}</label>
                    <select name="account_type" id="">
                        <option value="applicant">Student</option>
                        <option value="agent">Agent</option>
                    </select>
                    <label>{{LANG First Name}}</label>
                    <input type="text" name="first_name" id="firstname" placeholder="{{LANG firstname}}">
                    <label>{{LANG Last Name}}</label>
                    <input type="text" name="last_name" id="lastname" placeholder="{{LANG lastname}}">
                    <label>{{LANG Email}}</label>
                    <input type="text" name="email" id="email" placeholder="{{LANG email}}">
                    <label>{{LANG Password}}</label>
                    <input type="password" name="password" id="password" placeholder="{{LANG password}}">
                    <label>{{LANG Comfirm Password}}</label>
                    <input type="password" name="c_password" id="c_password" placeholder="{{LANG comfirm password}}">
                    <button class="whiteBtn8" type="submit">{{LANG Register}}</button> 
                </form>
                <button class="switch_auth" onclick="switchAuth('auth_login')">{{LANG Already have an Account}}?</button>
            </span>
         
      </div>
</div>

<script>
    switchAuth(localStorage.getItem("GA_AUTH_SWITCH") || 'auth_login')
    function switchAuth(id){
        localStorage.setItem("GA_AUTH_SWITCH", id)
        document.getElementById("auth_register").style.display = "none"
        document.getElementById("auth_forgot").style.display = "none"
        document.getElementById("auth_login").style.display = "none"
        document.getElementById("reset_code").style.display = "none"
        document.getElementById("new_passowrd").style.display = "none"
        document.getElementById(id).style.display = "flex"
        SendResetCode(id);
    }

    $(function() {
   
        let form = $('form#register-form');
        form.ajaxForm({
            url: '{{LINK aj/register}}?hash=' + $('.main_session').val(),
            dataType:'json',
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
                $('.register-alert').removeClass("alert-success").addClass('alert-danger');
                $('.register-alert').empty();
                $("#btn-singup-submit").text("{{LANG Please wait..}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.mode == 'done' && data.account_type == 'applicant' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }else if( data.account_type == 'agent' && data.mode == 'done' ){
                        $('#register-form').hide();
                        $('.register-alert').html($('<div>',{
                            class: "alert alert-success",
                            html: data.post_register_action
                        }));
                        $('.alert-success').fadeIn(300);
                        $('.switch_auth').text('{{LANG Login}}');
                    }
                  
                }
                else {
                    $('.register-alert').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">{{LANG Register}}</button>');
                }
            }
        });

        let form1 = $('form#login-form');
        form1.ajaxForm({
            url: '{{LINK aj/login}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                form1.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.session_id !== '' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }
                    document.getElementById('login_btn').innerHTML = data.message
                }
                else {
                    document.getElementById('login_btn').innerHTML = data.message
                    setTimeout(() => {
                        document.getElementById('login_btn').innerHTML = 'Login'
                    }, 4000);
                }
            }
        });
    });

    function SendResetCode(value){
        let post_url = '';
        if(value === "reset_code"){
           post_url = 'forgot-password';
            let form1 = document.querySelector('#resetCode');
                    var formData = new FormData(form1);
                    var request = new XMLHttpRequest();
                    request.onreadystatechange = function() {
                        if (request.readyState === 4) {
                            let data = JSON.parse(request.response);
                            if (data.status == 200) {
                                //response move to the next form
                                 console.log(data)
                           
                             
                            }
                        }
                    }
                    request.open("POST", `{{LINK aj/auth}}/${post_url}?hash=${$('.main_session').val()}`);
                    request.send(formData);
        }
       
    }
</script>