
 <div class="loginDiv">
      <div class="loginLeft">
        <img
          src="https://www.jotform.com/uploads/biggajans/form_files/global-academia-logo.60aab490ba79b0.48225771.png"
        />
        <p>GLOBAL ACADEMIA</p>
      </div>
      <div class="loginRight">
          <span class="loginToggle" id="auth_login">
                <p>{{LANG Login}}</p>
                <form id="login-form" class="loginForm" method="post" role="form">
                    <div class="login-alert"></div>    
                    <label>{{LANG Username}}</label>
                    <input type="text" name="username" id="username" placeholder="{{LANG username}}">
                    <label>{{LANG Password}}</label>
                    <input type="password" name="password" id="password" placeholder="{{LANG password}}">
                    <button class="whiteBtn8" type="submit">{{LANG Login}}</button> 
                </form>
                <button class="switch_auth" onclick="switchAuth()">Dont have an Account?</button>
          </span>
          <span class="registerToggle" id="auth_register">
            <p>{{LANG Register}}</p>
            <form id="register-form" class="loginForm" method="post" role="form">
                <div class="register-alert"></div> 
                <!-- <label>{{LANG Account Types}}</label>
                <input type="radio" id="agent" name="account_type" value="agent">
                <label for="agent">{{LANG Agent}}</label><br>
                <input type="radio" id="agent" name="account_type" value="applicant">
                <label for="applicant">{{LANG Applicant}}</label><br> -->
                <label>{{LANG Account Type}}</label>
                <select name="account_type" id="">
                    <option value="applicant">Student</option>
                    <option value="agent">Agent</option>
                </select>
                <label>{{LANG First Name}}</label>
                <input type="text" name="firstname" id="firstname" placeholder="{{LANG firstname}}">
                <label>{{LANG Last Name}}</label>
                <input type="text" name="lastname" id="lastname" placeholder="{{LANG lastname}}">
                <label>{{LANG Email}}</label>
                <input type="text" name="email" id="email" placeholder="{{LANG email}}">
                <label>{{LANG Password}}</label>
                <input type="password" name="password" id="password" placeholder="{{LANG password}}">
                <label>{{LANG Comfirm Password}}</label>
                <input type="password" name="c_password" id="c_password" placeholder="{{LANG comfirm password}}">
                <button class="whiteBtn8" type="submit">{{LANG Register}}</button> 
            </form>
            <button class="switch_auth" onclick="switchAuth()">Already have an Account?</button>
      </span>
         
      </div>
</div>

<script>
    let auth_switch = true
    switchAuth()
    function switchAuth(){
        if(auth_switch){
            document.getElementById("auth_register").style.display = "none"
            document.getElementById("auth_login").style.display = "flex"
            auth_switch = false
        }else{
            document.getElementById("auth_register").style.display = "flex"
            document.getElementById("auth_login").style.display = "none"
            auth_switch = true
        }
    }

    $(function() {
   
        let form = $('form#register-form');
        form.ajaxForm({
            url: '{{LINK aj/register}}?hash=' + $('.main_session').val(),
            dataType:'json',
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.mode == 'done' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }else if( data.mode == 'wait_activate' ){
                        $('.register-form').hide();
                        $('#fill_out_form').hide();
                    }
                    $('.register-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(300);
                }
                else {
                    $('.err-msg').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">{{LANG get_started}}</button>');
                }
            }
        });

        let form1 = $('form#login-form');
        form1.ajaxForm({
            url: '{{LINK aj/login}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                form1.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    if( data.session_id !== '' ){
                        window.location = '{{LINK session_login}}?sid='+data.session_id;
                        return false;
                    }
                    $('.login-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(300);
                }
                else {
                    $('.err-msg').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form1.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG login}}"+'</button>');
                }
            }
        });
    });
</script>