<main class="mainArea8">
    <div class="apply-form8">
        <p>Missing documents Addition</p>    
        <div class="apply-top5">
            <div class="apply-progress5" id="slide-step3">
                <div id="slidenum3" class="slide-num5 slide-num-active">1</div>
                {{LANG Documents}}
            </div>
        </div>
        <div class="edit-uni-pro">
            <p class="form-edit-lable">University</p>
            <select onchange="changeUni()" class="inputs5-1" id="uni-select">
                <!-- universities rendered here -->
            </select>
            <p class="form-edit-lable">Program</p>
            <select name="change_university" class="inputs5-1" id="pro-select">
                <!-- Programs rendered here -->
            </select>
        </div>
        <div class="apply-slides5">
            <div class="single-slide5" id="slide-document" style="display: flex; flex-direction: column;">
                {{MISSING_DOC}}
                <div class="apply-bottom5">
                    <button onclick="appModal()">{{LANG Submit}}</button>
                </div>
            </div>
        </div>       
    </div>
    <div class="apply_modal" id="appModal">
        <form class="final_Send" method="post"> 
            <p class="submission_message">{{LANG Are you sure you want to submit}} ?</p>
            <p class="submit-alert"></p>
            <input type="hidden" name="id" value="{{ID}}" />
            <input type="hidden" class="new_prog" name="change_program_id" id="chan_program_id" value="" />
  
            <div class="app_bottom_btns" id="app_bottom_btns">
                <div onclick="appModal()">{{LANG Cancel}}</div>
                <button type="submit">{{LANG Confirm}}</button>
           </div>
        </form> 
    </div>
</main>
<script>
    $('#click_id_photo').click(function() {
        $('#id_photo').click();
    });
    $('.click_diploma_file').click(function() {
        $('#diploma_file').click();
    });
    
    $('.click_transcript_file').click(function() {
        $('#transcript_file').click();
    });
    
    $('#click_passaport_file').click(function() {
        $('#passport_file').click();
    });
    let selec_prg;
    
    let appModalOut = false
    function appModal(){
        if(appModalOut){
            document.getElementById("appModal").style.display = "none"
            appModalOut = false
        }else{
            document.getElementById("appModal").style.display = "flex"
            appModalOut = true
      
        }
    }
    
 $(function() {
     ///EDIT PGRAM LIST DATA FETCH
    $.get('{{LINK aj/front_end_api/applicant_change_program}}?' + "hash=<?php echo CreateMainSession() ?>", function (data) {
            if (data.status == 200) {
                renderUniversities(data.university_list)
                renderPrograms(data.university_list)
            }
    });

 
   let form1 = $('form.final_Send');
   $(".id_photo").change(function(){
        var $this = $(this), $clone = $this.clone();
        $this.after($clone).appendTo(form1);
        document.getElementById("edit_photo_name").innerHTML = $this[0].files[0].name
    });
    $(".diploma_file").change(function(){
        var $this = $(this), $clone1 = $this.clone();
        $this.after($clone1).appendTo(form1);
        document.getElementById("edit_diploma_name").innerHTML = $this[0].files[0].name
    });
    $(".transcript_file").change(function(){
        var $this = $(this), $clone2 = $this.clone();
        $this.after($clone2).appendTo(form1);
        document.getElementById("edit_transcript_name").innerHTML = $this[0].files[0].name
    });
    $(".passport_file").change(function(){
        var $this = $(this), $clone3 = $this.clone();
        $this.after($clone3).appendTo(form1);
        document.getElementById("edit_passport_name").innerHTML = $this[0].files[0].name

    });
    $("#pro-select").change(function(){
        var $this = $(this), $clone4 = $this.clone();
        $("#chan_program_id").val($this[0].value);
        // ('chnge_prg',$this[0].value).appendTo(form1);

    });

//    if(selec_prg){
//        alert(selec_prg);
//         = selec_prg;
//    }
   form1.ajaxForm({
        url: '{{LINK aj/application/single_missing}}?hash=' + $('.main_session').val(),
        dataTyep:'json',
        beforeSend: function() {
            document.getElementById('app_bottom_btns').innerHTML = `<p style="color:white; font-size:15px; padding:10px 25px">Applying...</p>`
        },
            success: function(data) {
                if (data.status == 200) { 
                    $('.submission_message').hide(); 

                    $('.submit-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(300);
                    window.location = data.url
                }
                else {
                    $('.submit-alert').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form1.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG Submit}}"+'</button>');
                }
            }
        });
    });
    

    

    let countryList = ""
    let phoneCodes = ""
    counteries.forEach(element=>{
        countryList += `<option value="${element.name}">${element.name}</option>`
        phoneCodes +=`<option class="phoneCodes8" value="${element.dialCode}">
        <span><img src="https://cdn.countryflags.com/thumbs/zambia/flag-800.png" width="500" height="600"></span>
        <span>${element.isoCode}</span>
        <span>${element.dialCode}</span>
        </option>`
        
    })
    
    const distinct = (value, index, self) => {
        return self.indexOf(value) === index
    }
    function renderUniversities(data){
        let universities = []
        data.forEach(element => {
            if(element.university_id !== null){
                let obj = {
                    id:element.university_id,
                    name:element.university
                }
                // console.log(elemesnt.university_id, element.university)
                universities.push(obj)

            }
        });
        let distincts = []
        universities.forEach(element => {
            let found  = false;
            distincts.forEach(item => {
                if(element.id === item.id) found = true
            });
            if(!found) distincts.push(element)
        })
        let renderUni = "<option disabled selected value>Select University</option>"
        distincts.forEach(element => {
            renderUni += `
                <option value=${element.id}>${element.name.toLowerCase()}</option>
            `
        });
        localStorage.setItem("UNI_DATA", JSON.stringify(distincts))
        document.getElementById("uni-select").innerHTML = renderUni
    }
    function renderPrograms(data){
        let programs = []
        data.forEach(element => {
            if(element.university_id !== null && element.id !== null){
                let obj = {
                    id:element.id,
                    uni:element.university_id,
                    name:element.department
                }
                programs.push(obj)
            }
        });

        let distincts = []
        programs.forEach(element => {
            let found  = false;
            distincts.forEach(item => {
                if(element.id === item.id) found = true
            });
            if(!found) distincts.push(element)
        })
        localStorage.setItem("PRO_DATA", JSON.stringify(distincts))
        // document.getElementById("pro-select").innerHTML = renderPro
    }
    function changeUni(){
        // const uni_data = JSON.parse(localStorage.getItem("UNI_DATA"))
        const pro_data = JSON.parse(localStorage.getItem("PRO_DATA"))
        const target = document.getElementById("uni-select").value
        let renderPro = ""
        pro_data.forEach(item => {
            if(item.uni === parseInt(target))
            renderPro += `
               <option value=${item.id}>${item.name.toLowerCase()}</option>
            `
            })
        document.getElementById("pro-select").innerHTML = renderPro
    }
</script>