<main class="mainArea8">
    <div class="apply-form8">
        <p>Multiple Application Form</p>
       <div class="applying_to" id="applying_to"></div>
       
    <div class="apply-top5">
        <div class="apply-progress5 active-slide5" id="slide-step1">
            <div id="slidenum1" class="slide-num5 slide-num-active">1</div>{{LANG Information}}</div>
        <div class="apply-progress5" id="slide-step2">
            <div id="slidenum2" class="slide-num5">2</div>{{LANG Details}}</div>
        <div class="apply-progress5" id="slide-step3">
            <div id="slidenum3" class="slide-num5">3</div>{{LANG Documents}}</div>
    </div>
    <div class="apply-slides5">
       <div class="single-slide5" id="slide-info">
                <div class="slide-row5">
                    <p>{{LANG Firstname}}<span class="apply-input-checker" id="fn-checker">*</span></p>
                    <div class="inputs5-3" >
                    <input type="text" id="first_name" placeholder="Firstname" required>
              
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Lastname}}<span class="apply-input-checker" id="ln-checker">*</span></p>
                    <div class="inputs5-3" >
                    <input type="text" id="last_name" placeholder="Lastname" required>
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Fathers Name}}<span class="apply-input-checker" id="dn-checker">*</span></p>
                    <div class="inputs5-2">
                        <input type="text"  id="fathers_name" placeholder="{{LANG Father Names}}" required>
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Mothers Name}}<span class="apply-input-checker" id="mn-checker">*</span></p>
                    <div class="inputs5-2">
                        <input type="text"  id="mothers_name" placeholder="{{LANG Mother Name}}" required>
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Date of Birth}}<span class="apply-input-checker" id="dob-checker">*</span></p>
                    <div class="inputs5-1">
                        <input type="date"  id="date_of_birth" required>
                    </div>
                </div>
                <div class="apply-bottom5">
                    <button onclick="infoBtnNext()">{{LANG Next}}</button>
                </div>
            </div>
        <div class="single-slide5" id="slide-detail">
            <div class="slide-row5">
                    <p>{{LANG Phone Number}}<span class="apply-input-checker" id="line-checker">*</span></p>
                    <div class="inputs5-2">
                        <input type="text" id="phone_number" placeholder="Line 1" required>
                        <input type="text" id="phone_number_2"  placeholder="line 2 ( {{LANG optional}} )">
                    </div>
                </div>
                
             <div class="slide-row5">
                    <p>{{LANG Email}}<span class="apply-input-checker" id="email-checker">*</span></p>
                    <div class="inputs5-1">
                        <input type="text" id="email" placeholder="Your Email Address" required>
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Passport Number}}<span class="apply-input-checker" id="passport-checker">*</span></p>
                    <div class="inputs5-1">
                        <input type="text"  placeholder="Your Passport Number" id="passport_number">
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Nationality}}<span class="apply-input-checker" id="nationality-checker">*</span></p>
                    <div class="inputs5-1">
                        <select id="nationality">
                            {{COUNTRIES_LAYOUT}}
                        </select>
                    </div>
                </div>
                <div class="slide-row5">
                    <p>{{LANG Country of Residence}}<span class="apply-input-checker" id="country-checker">*</span></p>
                    <div class="inputs5-1">
                
                            <select  id="country_of_residence">
                                {{COUNTRIES_LAYOUT}}
                            </select>
                    
                    </div>
                </div>
                <div class="apply-bottom5"><span class="apply-input-checker">*</span>
                    <button onclick="detBtnPrev()">{{LANG Previous}}</button>
                    <button onclick="detBtnNext()">{{LANG Next}}</button>
                </div>
        </div>
        <div class="single-slide5" id="slide-document">
            <div class="slide-row5">
                <p>{{LANG Diploma}}</p>
                <div class="inputs5-1">
                    <span class="click_diploma_file"><img src="https://img.icons8.com/plasticine/100/000000/certificate.png"/>
                        <span id="diploma_name">{{LANG Click to upload}}</span>
                    </span>
                    <input type="file"  name="diploma_file" class="diploma_file" style="display:none;" id="diploma_file">
                </div>
            </div>
            <div class="slide-row5">
                <p>{{LANG Transcript}}</p>
                <div class="inputs5-1">
                    <span class="click_transcript_file"><img src="https://img.icons8.com/bubbles/50/000000/report-card.png"/>
                        <span id="transcript_name">{{LANG Click to upload}}</span>
                    </span>
                    <input type="file" name="transcript_file" class="transcript_file"  style="display:none;" id="transcript_file">
                </div>
            </div>
            <div class="slide-row5">
                <p>{{LANG Certificate}}</p>
                <div class="inputs5-1">
                    <span class="click_language_certificate">
                        <img src="https://img.icons8.com/plasticine/100/000000/certificate.png"/>
                        <span id="certificate_name">{{LANG Click to upload}}</span>
                    </span>
                    <input type="file" name="language_certificate" class="language_certificate"  style="display:none;" id="language_certificate">
                </div>
            </div>
            <div class="slide-row5">
                <p>{{LANG Passport}}</p>
                <div class="inputs5-1">
                    <span id="click_passaport_file">
                        <img src="https://img.icons8.com/office/50/000000/passport.png"/>
                        <span id="passport_name">{{LANG Click to upload}}</span>
                    </span>
                    <input type="file" name="passport_file"   class="passport_file" id="passport_file" style="display:none;">
                </div>
            </div>
            <div class="slide-row5">
                <p>{{LANG Photo}}</p>
                <div class="inputs5-1">
                    <span id="click_id_photo"> 
                        <img src="https://img.icons8.com/color/48/000000/person-male.png"/>
                        <span id="id_photo_name">{{LANG Click to upload}}</span>
                    </span>
                    <input type="file" name="id_photo" class="id_photo" id="id_photo" style="display:none;">
                </div>
            </div>
            <div class="apply-bottom5">
                <button onclick="docBtnPrev()">{{LANG Previous}}</button>
                <button onclick="appModal()">{{LANG Apply}}</button>
            </div>
        </div>
    </div>
        
    </div>
    <div class="apply_modal" id="appModal">
        <form class="final_Send" method="post"> 
            <p class="submission_message">{{LANG Are you sure you want to submit}} ?</p>
            <p class="submit-alert"></p>
            <input type="hidden" name="first_name"      id="Applicant_fname">
            <input type="hidden" name="middle_name"     id="Applicant_mname">
            <input type="hidden" name="last_name"       id="Applicant_lname">
            <input type="hidden" name="fathers_name"    id="father_name">
            <input type="hidden" name="mothers_name"    id="mother_name">
            <input type="hidden" name="date_of_birth"   id="d_o_b">
            <input type="hidden" name="phone_number"    id="phone8">
            <input type="hidden" name="phone_number_2"  id="phone28">
            <input type="hidden" name="email"           id="email8">
            <input type="hidden" name="passport_number" id="passport8">
            <input type="hidden" name="nationality"     id="country8">
            <input type="hidden" name="user_id"   value="{{ME id}}">

            <input type="hidden" name="multiple_applicants"  id="multiple_applicants">
            <input type="hidden" name="applicant_type"  id="applicant_type">   
            <input type="hidden" name="country_of_residence" id="residence8">
            <!-- <input type="hidden" name="diploma_file" class="diploma"   id="diploma">
            <input type="hidden" name="transcript_file" class="transcript8" id="transcript8">
            <input type="hidden" name="passport_file" class="passport_file8"   id="passport_file8"> -->
            <!-- <input type="hidden" name="id_photo"   class="photo8"     id="photo8"> -->
            <div class="appndd_list" id="appndd_list"></div>
            <div class="agent_applicant_list">
                <div class="added_studs" id="added_stud">
                    <!-- Selected students rendered here -->
                </div>
                <div class="multi_search_area">
                    <input type="search" 
                        placeholder="Search for a Student..." 
                        id="search_added_studs" 
                        class="search_added_studs" 
                        oninput="search_student_input()"
                        onblur="on_blur_search()"
                        onfocus="on_focus_search()"
                        >
                    <div id="possible_applicants">
                        <!-- Agent's students rendered here -->
                    </div>
                </div>
            </div>
            <div class="app_bottom_btns">
                <div onclick="appModal()">{{LANG Cancel}}</div>
                <div onclick="SendApplication()">{{LANG Confirm}}</div>
              
           </div>
        </form> 
    </div>
</main>
<script>

let form1 = $('form.final_Send');
 let student_names = []
 let selected_student_names = []
    $.get('{{LINK aj/user_dashboard/get_agent_applicant_list}}?hash=' + $('.main_session').val(), {}, (data => {
            if(data.status === 200){
                student_names = data.students
            }
    }));
  
    
    let appModalOut = false
    let isLogged = '<?php echo IsLogged(); ?>';
    var account_type;
    if(isLogged == '1'){
        account_type = '{{ME account_type}}';
       
        document.getElementById("appModal").style.display = "flex";
        document.getElementById("applicant_type").value = account_type;
            appModalOut = true
            renderApply()

        if(account_type == 'applicant'){
            document.querySelector('.agent_applicant_list').style.display = "none";
        }
    } else {
        document.getElementById("applicant_type").value = "guest";
        account_type = "guest";

    }

    var selectedUniversities = [];
    let html = '';
    let send_to = '';
    selectedUniversities = JSON.parse(localStorage.getItem('CARTLIST'))
    let count = 0;
    selectedUniversities.forEach((element) => {
      count += 1;
       html += `
        <div class="mutiple_list">
          <p>${count}</p>
            In  <span class="multi_university"><b>${element.university.toLowerCase()}</b></span> At
           <span class="multi_program"><b>${element.department.toLowerCase()}</b></span> 
           
        </div>`;
       
       

    })
    send_to += `<input type="hidden" name="multi" value='${JSON.stringify(selectedUniversities)}' />`
    document.getElementById('applying_to').innerHTML = html;  
    document.getElementById('appndd_list').innerHTML = send_to;

    $('#click_id_photo').click(function() {
        $('#id_photo').click();
    });
    $('.click_diploma_file').click(function() {
        $('#diploma_file').click();
    });
    
    $('.click_transcript_file').click(function() {
        $('#transcript_file').click();
    });
    
    $('#click_passaport_file').click(function() {
        $('#passport_file').click();
    });
    $('.click_language_certificate').click(function() {
        $('#language_certificate').click();
    });
    
    
   
    function appModal(){
        if(appModalOut){
            document.getElementById("appModal").style.display = "none"
            appModalOut = false
        }else{
            document.getElementById("appModal").style.display = "flex"
            appModalOut = true
            renderApply()
        }
    }
    
 $(function() {

 
   let form1 = $('form.final_Send');
   $(".id_photo").change(function(){
        var $this = $(this), $clone = $this.clone();
        $this.after($clone).appendTo(form1);
        document.getElementById("id_photo_name").innerHTML = $this[0].files[0].name
    });
    $(".diploma_file").change(function(){
        var $this = $(this), $clone1 = $this.clone();
        $this.after($clone1).appendTo(form1);
        document.getElementById("diploma_name").innerHTML = $this[0].files[0].name
    });
    $(".transcript_file").change(function(){
        var $this = $(this), $clone2 = $this.clone();
        $this.after($clone2).appendTo(form1);
        document.getElementById("transcript_name").innerHTML = $this[0].files[0].name
    });
    $(".passport_file").change(function(){
        var $this = $(this), $clone3 = $this.clone();
        $this.after($clone3).appendTo(form1);
        document.getElementById("passport_name").innerHTML = $this[0].files[0].name
    });
    $(".language_certificate").change(function(){
        var $this = $(this), $clone3 = $this.clone();
        $this.after($clone3).appendTo(form1);
        document.getElementById("certificate_name").innerHTML = $this[0].files[0].name
    });
   form1.ajaxForm({
        url: '{{LINK aj/application/multiple}}?hash=' + $('.main_session').val(),
        dataTyep:'json',
        beforeSend: function() {
            form1.find('button').text("{{LANG please_wait}}");
        },
            success: function(data) {
                if (data.status == 200) { 
                    $('.submission_message').hide(); 

                    $('.submit-alert').html($('<div>',{
                        class: "alert alert-success",
                        html: data.message
                    }));
                    $('.alert-success').fadeIn(5000);
                    removeAll();
                    window.location = data.url
                }
                else {
                    $('.submit-alert').html($('<div>',{
                        class: "alert alert-danger",
                        html: data.message
                    }));
                    form1.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG Submit}}"+'</button>');
                }
            }
        });
    });
    
    function renderApply(){
        document.getElementById("Applicant_fname").value = document.getElementById("first_name").value
        document.getElementById("Applicant_mname").value = '';
        document.getElementById("Applicant_lname").value = document.getElementById("last_name").value
        document.getElementById("father_name").value     = document.getElementById("fathers_name").value
        document.getElementById("mother_name").value     = document.getElementById("mothers_name").value
        document.getElementById("d_o_b").value           = document.getElementById("date_of_birth").value
        document.getElementById("phone8").value          = document.getElementById("phone_number").value
        document.getElementById("phone28").value         = document.getElementById("phone_number_2").value 
        document.getElementById("email8").value         = document.getElementById("email").value
        document.getElementById("passport8").value       = document.getElementById("passport_number").value
        document.getElementById("country8").value        = document.getElementById("nationality").value
        document.getElementById("residence8").value      = document.getElementById("country_of_residence").value
        // document.getElementById("diploma").value         = document.getElementById("diploma_file").files[0].path
        // document.getElementById("transcript8").value     = document.getElementById("transcript_file").files[0].path
        // document.getElementById("passport_file8").value  = document.getElementById("passport_file").files[0].path
        // document.getElementById("photo8").value          = document.getElementById("id_photo").files[0].path
    }

    function infoBtnNext(){
        const fn = document.getElementById("first_name").value
        const ln = document.getElementById("last_name").value
        const dn = document.getElementById("fathers_name").value
        const mn = document.getElementById("mothers_name").value
        const dob = document.getElementById("date_of_birth").value

        if(fn) document.getElementById("fn-checker").style.display = "none"
        else document.getElementById("fn-checker").style.display = "inline"
        if(ln) document.getElementById("ln-checker").style.display = "none"
        else document.getElementById("ln-checker").style.display = "inline"
        if(dn) document.getElementById("dn-checker").style.display = "none"
        else document.getElementById("dn-checker").style.display = "inline"
        if(mn) document.getElementById("mn-checker").style.display = "none"
        else document.getElementById("mn-checker").style.display = "inline"
        if(dob) document.getElementById("dob-checker").style.display = "none"
        else document.getElementById("dob-checker").style.display = "inline"

        if(fn && ln && dn && mn && dob ){
            document.getElementById("slide-info").style.display = 'none'
            document.getElementById("slide-detail").style.display = 'block'
            document.getElementById("slide-step2").classList.add("active-slide5")
            document.getElementById("slidenum2").classList.add("slide-num-active")
        }
    }

    function detBtnPrev(){
            document.getElementById("slide-info").style.display = 'block'
            document.getElementById("slide-detail").style.display = 'none'
            document.getElementById("slide-step2").classList.remove("active-slide5")
            document.getElementById("slidenum2").classList.remove("slide-num-active")
        
    }

    function detBtnNext(){
        const line1 = document.getElementById("phone_number").value
        const line2 = document.getElementById("phone_number_2").value
        const email = document.getElementById("email").value
        const pass = document.getElementById("passport_number").value
        const nation = document.getElementById("nationality").value
        const country = document.getElementById("country_of_residence").value

        if(line2 || line1) document.getElementById("line-checker").style.display = "none"
        else document.getElementById("line-checker").style.display = "inline"
        if(email) document.getElementById("email-checker").style.display = "none"
        else document.getElementById("email-checker").style.display = "inline"
        if(pass) document.getElementById("passport-checker").style.display = "none"
        else document.getElementById("passport-checker").style.display = "inline"
        if(nation) document.getElementById("nationality-checker").style.display = "none"
        else document.getElementById("nationality-checker").style.display = "inline"
        if(country) document.getElementById("country-checker").style.display = "none"
        else document.getElementById("country-checker").style.display = "inline"

        if( (line1 || line2) && email && pass && nation && country){
            document.getElementById("slide-detail").style.display = 'none'
            document.getElementById("slide-document").style.display = 'block'
            document.getElementById("slide-step3").classList.add("active-slide5")
            document.getElementById("slidenum3").classList.add("slide-num-active")
        }
    }

    function docBtnPrev(){
        document.getElementById("slide-detail").style.display = 'block'
        document.getElementById("slide-document").style.display = 'none'
        document.getElementById("slide-step3").classList.remove("active-slide5")
        document.getElementById("slidenum3").classList.remove("slide-num-active")
    }
    

    let countryList = "<option value selected disabled>Select Country</option>"
    let phoneCodes = ""
    counteries.forEach(element=>{
        countryList += `<option value="${element.name}">${element.name}</option>`
        phoneCodes +=`<option class="phoneCodes8" value="${element.dialCode}">
        <span><img src="https://cdn.countryflags.com/thumbs/zambia/flag-800.png" width="500" height="600"></span>
        <span>${element.isoCode}</span>
        <span>${element.dialCode}</span>
        </option>`
        
    })
    document.getElementById("nationality").innerHTML = countryList
    document.getElementById("country_of_residence").innerHTML = countryList

    function populate_students(){
        let student_rows = ""
        student_names.forEach(element => {
            let names = element.first_name + " " + element.last_name
            let found = false
            selected_student_names.forEach(student => {
                if(element.id === student.id) found = true
            })
            if(!names.includes(filter_string.toLowerCase())) found = true
            if(!found){
                student_rows += `
                    <p class="font3 bold500 dark_color" onclick="add_app_student('${element.id}')">${names}</p>
                `
            }
        })
        document.getElementById("possible_applicants").innerHTML = student_rows
    }

    
    let filter_string = ""
    function add_app_student(id){
        student_names.forEach(element => {
            if(element.id == id){
                document.getElementById("search_added_studs").value = ""
                filter_string = ""
                selected_student_names.push(element)
                populate_students()
                populate_selected_students()
            }
        })
        
    }
    function populate_selected_students(){
        let student_rows = ""
        selected_student_names.forEach(element => {
            let names = element.first_name + " " + element.last_name
            student_rows += `
                <div class="added_stud" onclick=remove_selected_student('${element.id}')>
                    <p class="font2 bold400">${names}</p>
                    <i class="fas fa-times font2 pointer"></i>
                </div>
            `
        })
        document.getElementById("added_stud").innerHTML = student_rows
    }
    function remove_selected_student(id){
        selected_student_names = selected_student_names.filter(element => {
            return +id !== +element.id
        })
        populate_students()
        populate_selected_students()
    }
    function search_student_input(){
        filter_string = document.getElementById("search_added_studs").value
        populate_students()
    }
    function on_focus_search(){
        populate_students()
        document.getElementById("possible_applicants").style.display = "block"
    }
    function on_blur_search(){
        setTimeout(() => {
            document.getElementById("possible_applicants").style.display = "none"
        }, 200);
    }
    function create_applicant_list(){
        let new_array = []
        selected_student_names.forEach(element => {
            new_array.push(element.id)
            
        })
        return new_array
    }

    function SendApplication() {
         let selected_applicant_list = [] = JSON.stringify(create_applicant_list());
     
         $("#multiple_applicants").val(selected_applicant_list);
        console.log("XXX", selected_applicant_list)
        form1.submit();
    }
</script>