<div class="mainAreaRight8">
     <div class="filterTop8">
        <!-- <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="20px"
            height="12px"
          >
            <path
              fill-rule="evenodd"
              fill="rgb(27, 207, 107)"
              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"
            ></path>
          </svg>
        </span> -->
        <span class="dark_color font4 bold600 ">Filter</span>
        <div class="toggleFilter">
          <i onclick="toggleFiter()" class="far fa-caret-square-down"></i>
        </div>
      </div>
    <div class="filterBody8">
      <div class="search-bar8">
        <input type="search" onkeyup="filter_search_results()" name="filter_search_keyword" id="filter_search_keyword" value="{{filter_search_keyword}}" placeholder="{{LANG Search}} ..." />
        <!-- <input type="submit" value="Search" /> -->
      </div>
      <?php if($kd->page != 'university'){ ?>
        
        <div class="langFilter">
          <span class="font3 bold600 blue_color">{{LANG Degree}}</span>
          <div class="filterCheck8">
            <input type="checkbox" name="associate" id="associate" />
            <span class="font2 dark_color">Associate</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="bachelor" id="bachelor" />
            <span class="font2 dark_color">Bachelor</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="masters" id="masters" />
            <span class="font2 dark_color">Masters</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="PhD" id="phd" />
            <span class="font2 dark_color">PhD</span>
          </div>
        </div>
      <?php } ?>
      <div class="dropdownFilter8">
        <span class="blue_color font3 bold600">University</span>
        <select name="university_filter" onchange="filter_search_results()" id="university_filter">
          <option value="All">All</option>
          {{unversity}}
        </select>
      </div>
      <div class="dropdownFilter8">
        <span class="blue_color font3 bold600">Program</span>
        <select name="program_filter" id="programs_filter" onchange="filter_search_results()">
          <option value="All">All</option>
          {{program}}
        </select>
      </div>
      <?php if($kd->page != 'university'){ ?>
      <div class="langFilter">
        <span class="blue_color font3 bold600">Language</span>
        <div class="filterCheck8">
          <input type="checkbox" name="english" id="english" />
          <span class="font2 dark_color">English</span>
        </div>
        <div class="filterCheck8">
          <input type="checkbox" name="turkish" id="turkish" />
          <span class="font2 dark_color">Turkish</span>
        </div>
      </div>
      <div class="priceFilter">
        <span class="blue_color font3 bold600">Price range</span>
        <div>
          <input type="number" onkeyup="filter_search_results()" name="from" id="from" />
          <p>To</p>
          <input type="number" onkeyup="filter_search_results()" name="to" id="to" />
        </div>
      </div>
      <?php } ?>
    </div>
  </div>