<footer class="footer">
    <div class="footerTop">
        <img src="https://apply.globalacademia.com/img/Global-Academia-Logosu.webp" alt="">
        <div class="footerTopColumns">
            <p class="columnHeader">İSTANBUL – KADIKÖY</p>
            <p>Caferağa Mah.</p>
            <p>General Asım Gündüz Cd.</p>
            <p>No:54 Kat 4</p>
            <p>34714 Kadıköy/İstanbul</p>
            <p>Telefon & WhatsApp:</p>
            <p class="footerGreen">0216 550 0068</p>
            <p class="footerGreen">0553 703 1000</p>
            <p class="footerGreen">0507 153 6633</p>
            <p class="footerGreen">0554 124 6222</p>
        </div>
        <div class="footerTopColumns">
            <p class="columnHeader">SİZİ ARAYALIM</p>
            <form class="footerForm" action="">
                <input type="text" placeholder="Ad - Soyad">
                <input type="text" placeholder="Telefon No"> 
                <input type="submit" class="greenBtn8" value="BENİ ARAYIN!">
            </form>
        </div>
        <div class="footerTopColumns">
            <p class="footerGreen">YÖS Kursları</p>
            <p class="footerGreen">YÖS Kitapları</p>
            <p class="footerGreen">Danışmanlık Hizmetleri</p>
            <p class="footerGreen">Başvuru Formu</p>
            <p class="footerGreen">İletişim Formu</p>
            
        </div>
    </div>
    <div class="footerBottom">
        <div class="fBottomTop">
        <p>Gizlilik Politikası • Teslimat ve İade • Mesafeli Satış Sözleşmesi</p>
        </div>
        <div class="fBottomMid">
          <img src="https://apply.globalacademia.com/img/payments.webp">
          <div class="footerSocialIcons">
              <a href="https://tr-tr.facebook.com/GlobalAcademia/"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/global_academia/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/user/GlobalAcademia"><i class="fab fa-youtube"></i></a>
              <a href="mailto:info@globalacademia.com"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
        <div class="fBottomBottom">
        <small style="color:white;font-size:12px;font-family: Quicksand,sans-serif;">© Copyright 2017 | Bu sayfa <a href="https://globalacademia.com" style="color:#00bf88">Global Academia</a> tarafından yapılmıştır | Tüm hakları saklıdır | www.GlobalAcademia.com <a href="https://globalacademia.com" style="color:#00bf88"> GLOBAL ACADEMIA Eğitim Hizmetleri Yayıncılık ve Danışmanlık San. Tic. Ltd. Şti.</a> ye aittir.</small>
        </div>
    </div>

</footer>