<div class="applications">
    <table class="ga_table">
        <thead>
            <tr>
                <th>Date</th>
                <th>University</th>
                <th>Programme</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="ga_table-body">
            
        </tbody>
    </table>
</div>

<script>
  $.get('{{LINK aj}}' + "/user_dashboard/get_user_applications?hash=" + $('.main_session').val(), {}, (data => {
        if(data.status === 200){
          render_application(data.applied_to_universities)
        }
  }));
  function render_application(data){
    data.forEach(element => {
      console.log(element.created_at.substr(0,10))
      document.getElementById("ga_table-body").innerHTML += `
            <tr>
                <td>${element.created_at.substr(0,10)}</td>
                <td class="table_data">${element.university_id.toLowerCase()}</td>
                <td class="table_data">${element.program_id.toLowerCase()}</td>
                <td class="table_data">${element.application_status_slug.toLowerCase()}</td>
                <td>
                    <select class="ga_table_select">
                        <option>Select</option>
                        <option>View</option>
                        <option>Edit</option>
                        <option>Delete</option>
                    </select>
                </td>
            </tr>
        `
    })
  }


</script>