<div class="dashboard">
    <div class="dash_top_cards">
        <div class="dash_card">
            <p class="card_title font2">All Applications</p>
            <div class="card_dets">
                <i class="fas fa-file"></i>
                <p>203</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Pending Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-alt"></i>
                <p>123</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Accepted Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-contract"></i>
                <p>89</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Rejected Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-excel"></i>
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="dash_mid">
        <div class="dash_universities">
            <table class="ga_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>University</th>
                        <th>Applicants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dash_notifications ">
            <p>System Notifications</p>
            <div class="nofify_rows">
                <p class="notification_title dark_color font2 bold600">Student Application has being accepted</p>
                <p class="notification_text dark_color font2">Duis Lorem ullamco nulla proident labore aliquip irure nostrud proident ipsum proident dolore laboris consectetur.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notification_title dark_color font2 bold600">Student Application has being accepted</p>
                <p class="notification_text dark_color font2">Duis Lorem ullamco nulla proident labore aliquip irure nostrud proident ipsum proident dolore laboris consectetur.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notification_title dark_color font2 bold600">Student Application has being accepted</p>
                <p class="notification_text dark_color font2">Duis Lorem ullamco nulla proident labore aliquip irure nostrud proident ipsum proident dolore laboris consectetur.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notification_title dark_color font2 bold600">Student Application has being accepted</p>
                <p class="notification_text dark_color font2">Duis Lorem ullamco nulla proident labore aliquip irure nostrud proident ipsum proident dolore laboris consectetur.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            
        </div>
    </div>
</div>
<script>
    $.get('{{LINK aj}}' + "/user_dashboard/get_user_applications?hash=" + $('.main_session').val(), function (data) {
        	console.log(data)
        });
</script>