<div class="dashboard">
    <div class="dash_top_cards">
        <div class="dash_card">
            <p class="card_title font2">All Applications</p>
            <div class="card_dets">
                <i class="fas fa-file"></i>
                <p>203</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Pending Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-alt"></i>
                <p>123</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Accepted Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-contract"></i>
                <p>89</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Rejected Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-excel"></i>
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="dash_mid">
        <div class="dash_universities">
            <table class="ga_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>University</th>
                        <th>Applicants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Khalifa University</td>
                        <td>34</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dash_notifications ">
            <p>System Notifications</p>
            <div class="nofify_rows">
                <p class="notify_rows_text">Ad do cupidatat dolor ut qui deserunt dolore commodo aliquip aliqua Lorem anim aliquip nulla. Voluptate occaecat tempor incididunt aliqua eu aliquip do dolor anim ipsum duis. Id veniam excepteur aliqua aliqua labore duis deserunt irure do in Lorem proident anim laborum. Ea magna cillum qui irure consectetur adipisicing exercitation pariatur est sunt incididunt. Ut pariatur nulla ullamco adipisicing in incididunt sunt ad.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notify_rows_text">Exercitation est do ea aute eu mollit reprehenderit laboris consectetur nostrud minim.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notify_rows_text">Exercitation est do ea aute eu mollit reprehenderit laboris consectetur nostrud minim.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            <div class="nofify_rows">
                <p class="notify_rows_text">Eiusmod nulla magna cupidatat ullamco non in labore. Aliqua ea aute aliquip ex officia quis anim. Labore anim est veniam non enim fugiat. In mollit dolor veniam excepteur consectetur deserunt. Enim tempor fugiat nostrud eiusmod anim fugiat irure veniam magna sint tempor. Aliqua mollit anim eu in quis officia irure dolor eiusmod mollit esse incididunt fugiat voluptate. Incididunt incididunt nulla nisi consectetur sint aute ullamco amet occaecat qui et dolore.</p>
                <p class="notify_rows_time bold600 font1">12/08/2022 (2 min ago)</p>
            </div>
            
        </div>
    </div>
</div>