<div class="dashboard">
    <div class="dash_top_cards">
        <div class="dash_card">
            <p class="card_title font2">All Applications</p>
            <div class="card_dets">
                <i class="fas fa-file"></i>
                <p id="total_apps">0</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Pending Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-alt"></i>
                <p id="pending_apps">0</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Accepted Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-contract"></i>
                <p id="accepted_apps">0</p>
            </div>
        </div>
        <div class="dash_card">
            <p class="card_title font2">Rejected Applications</p>
            <div class="card_dets">
                <i class="fas fa-file-excel"></i>
                <p id="rejected_apps">0</p>
            </div>
        </div>
    </div>
    <div class="dash_mid">
        <div class="dash_universities">
            <table class="ga_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>University</th>
                        <th>Program</th>
                    </tr>
                </thead>
                <tbody id="app_table_rows">
                    <!-- table rows rendered from JS -->
                </tbody>
            </table>
        </div>
        <div class="dash_notifications " id="system_notifications">
            <p>System Notifications</p>
            <!-- Notifications Rendered here from javascript -->
        </div>
    </div>
</div>
<script>
    $.get('{{LINK aj}}' + "/user_dashboard/get_user_applications?hash=" + $('.main_session').val(), {}, (data => {
        if(data.status === 200){
            render_dashboard_cards(data)
            render_dashboard_app_table(data.applied_to_universities)
            render_dashboard_notification(data.user_notifications)
        }
    }));

    function render_dashboard_cards(data){
        let total_apps = data.number_of_applications
        let accepted_apps = data.number_of_accepted_applications
        let pending_apps = data.number_of_pending_applications
        let rejected_apps = data.number_of_rejected_applications
        document.getElementById("total_apps").innerHTML = total_apps
        document.getElementById("accepted_apps").innerHTML = accepted_apps
        document.getElementById("pending_apps").innerHTML = pending_apps
        document.getElementById("rejected_apps").innerHTML = rejected_apps
    }

    function render_dashboard_app_table(data){
        data.forEach((element,index) => {
            document.getElementById("app_table_rows").innerHTML += `
                <tr>
                    <td>${index + 1}</td>
                    <td class="table_data">${element.university_id.toLowerCase()}</td>
                    <td class="table_data">${element.program_id.toLowerCase()}</td>
                </tr>
            `
        });

        // 
    }
    function render_dashboard_notification(data){
        data.forEach(element => {
            console.log(element)
            let date = new Date(element.time * 1000)
            document.getElementById("system_notifications").innerHTML += `
                <div class="nofify_rows">
                    <p class="notification_title dark_color font2 bold600">Student Application has being accepted</p>
                    <p class="notification_text dark_color font2">${element.text}</p>
                    <p class="notify_rows_time bold600 font1">${date.toDateString()}</p>
                </div>
            `
        });
        if(data.length < 1){
            document.getElementById("system_notifications").innerHTML += `
                <div class="nofify_rows">
                    <p class="notification_title dark_color font2 bold600">No Notifications</p>
                </div>
            `
        }

        // 
    }
</script>