<div class="profile_xd">
    <div class="profile_card">
        <div class="profile_card_top">
            <label for="profile_pic" class="profile_pic_label">
                <img src="http://learnenglish.britishcouncil.org/sites/podcasts/files/2021-10/RS6715_492969113-hig.jpg" alt="">
                <i class="fas fa-camera"></i>
            </label>
            <input type="file" name="profile_pic" id="profile_pic" hidden>
            <div class="dark_color">
                <p class="font3 bold500">Paul Jere</p>
                <p class="font2 bold400">Agent Account</p>
            </div>
        </div>
        <div class="profile_card_body">
            <div class="profile_card_inputs">
                <p class="font2">First Name</p>
                <input type="text">
            </div>
            <div class="profile_card_inputs">
                <p class="font2">Last Name</p>
                <input type="text">
            </div>
            <div class="profile_card_inputs">
                <p class="font2">Email</p>
                <input type="text">
            </div>
            <div class="profile_card_inputs">
                <p class="font2">Password</p>
                <input type="password">
            </div>
        </div>
        <button class="profile_save_btn">Save Changes</button>
    </div>
</div>