<div class="profile_xd">
    <div class="profile_card">
        <div class="profile_card_top">
            <label for="profile_pic" class="profile_pic_label">
                <img id="log_user_pp" src="http://learnenglish.britishcouncil.org/sites/podcasts/files/2021-10/RS6715_492969113-hig.jpg" alt="">
                <i class="fas fa-camera"></i>
            </label>
            <input type="file" name="profile_pic" id="profile_pic" hidden>
            <div class="dark_color">
                <p class="font3 bold500" id="log_user_name">users name</p>
                <p class="font2 bold400" id="log_user_ac_type">account type</p>
            </div>
        </div>
        <div class="profile_nav">
            <button id="btn_information" onclick="profile_tab('information')">Information</button>
            <button id="btn_details" onclick="profile_tab('details')">Details</button>
            <button id="btn_documents" onclick="profile_tab('documents')">Documents</button>
            <button id="btn_security" onclick="profile_tab('security')">Security</button>
        </div>
        <div class="profile_card_body profile_info" id="information">
            <div class="profile_card_inputs">
                <p class="font2">{{LANG First Name}}</p>
                <input type="text" name="first_name" value="{{USER first_name}}">
            </div>
            <div class="profile_card_inputs">
                <p class="font2">{{LANG Last Name}}</p>
                <input type="text" name="last_name" value="{{USER last_name}}">
            </div>
            
         
            <button class="profile_save_btn">{{LANG Save Changes}}</button>
        </div>
        <div class="profile_card_body" id="details">
            <form class="save_info" method="post">
                <div class="save_info_alert"></div>
                <div class="profile_detail_container">
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Fathers Name}}</p>
                        <input type="text" name="fathers_name" value="<?php echo $kd->user->education_info->fathers_name; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Mothers Name}}</p>
                        <input type="text" name="mothers_name"  value="<?php echo $kd->user->education_info->mothers_name; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Phone Number 1}}</p>
                        <input type="text" name="phone" value="<?php echo $kd->user->education_info->phone_number; ?>" >
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Phone Number 2}}  ( {{LANG Optional}} )</p>
                        <input type="text" name="phone_2" value="<?php echo $kd->user->education_info->phone_number_2; ?>"/>
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Email}}</p>
                        <input type="text" name="email" value="{{USER email}}">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Passport}}</p>
                        <input type="text" value="<?php echo $kd->user->education_info->passport_number; ?>" name="passport">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Country of Residence}}</p>
                        <input type="text" value="<?php echo $kd->user->education_info->country_of_residence; ?>" name="country_of_residence">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Nationality}}</p>
                        <input type="text" name="nationality" value="<?php echo $kd->user->education_info->nationality; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Date of Birth}}</p>
                        <input type="date" name="date_of_birth" value="<?php echo $kd->user->education_info->date_of_birth; ?>">
                    </div>
                </div>
                <button class="profile_save_btn">{{LANG Save Changes}}</button>
            </form>

        </div>
        <div class="profile_card_body" id="documents">
            <form class="save_documents" method="post"> 
                <div class="save_documents_info_alert"></div>
                <div class="profile_detail_container">
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Diploma}}</p>
                        <input type="file" name="diploma" value="<?php echo $kd->user->education_info->diploma; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Transcript}}</p>
                        <input type="file" name="transcript_file" value="<?php echo $kd->user->education_info->transcript_file; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Certificate}}</p>
                        <input type="file" name="certificate" value="<?php echo $kd->user->education_info->certificate; ?>">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Passport}}</p>
                        <input type="file" value="<?php echo $kd->user->education_info->passport; ?>" name="passport">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG ID Photo}}</p>
                        <input type="file" value="<?php echo $kd->user->education_info->id_photo; ?>" name="id_photo">
                    </div>
                </div>
                <button class="profile_save_btn">{{LANG Save Changes}}</button>
            </form>
        </div>
        <div class="profile_card_body" id="security">
            <form class="save_change_password" method="post">
                <div class="save_pass_alert"></div>
                <div class="profile_detail_container">
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Old Password}}</p>
                        <input type="password" name="current_password">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG New Password}}</p>
                        <input type="password" name="new_password">
                    </div>
                    <div class="profile_card_inputs">
                        <p class="font2">{{LANG Confirm Password}}</p>
                        <input type="password" name="confirm_new_password">
                    </div>
                </div>
                <input type="hidden" name="user_id" value="{{ME id}}">
                <button class="profile_save_btn">{{LANG Save Changes}}</button>
            </form>
                
        </div>
    </div>
</div>

<script>
    let save_documents = $(".save_documents");
    let save_info = $(".save_info");
    let change_password = $('.save_change_password');

    $.get('{{LINK aj}}' + "/user_dashboard/user_data?hash=" + $('.main_session').val(), {}, (data => {
        if(data.status === 200){
          console.log(data.data.account_type)
          render_profile_card(data)
        }
    }));
    function render_profile_card(data){
        document.getElementById("log_user_ac_type").innerHTML = data.data.account_type === 'applicant' ? "Applicant Account" :  "Agent Account"
        document.getElementById("log_user_name").innerHTML = `${data.data.first_name} ${data.data.last_name}`
        document.getElementById("log_user_pp").src = data.data.avatar;
    }


    profile_tab('information')
    function profile_tab(id){
        document.getElementById("information").style.display = "none"
        document.getElementById("details").style.display = "none"
        document.getElementById("security").style.display = "none"
        document.getElementById("documents").style.display = "none"

        document.getElementById(id).style.display = "flex"

        document.getElementById("btn_information").classList.remove("profile_nav_active")
        document.getElementById("btn_details").classList.remove("profile_nav_active")
        document.getElementById("btn_security").classList.remove("profile_nav_active")
        document.getElementById("btn_documents").classList.remove("profile_nav_active")
        
        document.getElementById("btn_" + id).classList.add("profile_nav_active")
    }
    
    $(function() { 
        save_documents.ajaxForm({
            url: '{{LINK aj/user_dashboard/update_education_documents}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                save_documents.find('button').text("{{LANG please_wait}}");
            },
                success: function(data) {
                    if (data.status == 200) { 
                        $('.submission_message').hide(); 

                        $('.save_documents_info_alert').html($('<div>',{
                            class: "alert alert-success",
                            html: data.message
                        }));
                        $('.alert-success').fadeIn(5000);
                       
                        window.location = data.url
                    }
                    else {
                        $('.save_documents_info_alert').html($('<div>',{
                            class: "alert alert-danger",
                            html: data.message
                        }));
                        save_documents.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG Submit}}"+'</button>');
                    }
                }
        });
        save_info.ajaxForm({
            url: '{{LINK aj/user_dashboard/update_education_user_info}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                save_info.find('button').text("{{LANG please_wait}}");
            },
                success: function(data) {
                    if (data.status == 200) { 
                        $('.submission_message').hide(); 

                        $('.save_info_alert').html($('<div>',{
                            class: "alert alert-success",
                            html: data.message
                        }));
                        $('.alert-success').fadeIn(5000);
                       
                        window.location = data.url
                    }
                    else {
                        $('.save_info_alert').html($('<div>',{
                            class: "alert alert-danger",
                            html: data.message
                        }));
                        save_info.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG Submit}}"+'</button>');
                    }
                }
        });
        change_password.ajaxForm({
            url: '{{LINK aj/user/change-pass}}?hash=' + $('.main_session').val(),
            dataTyep:'json',
            beforeSend: function() {
                change_password.find('button').text("{{LANG please_wait}}");
            },
                success: function(data) {
                    if (data.status == 200) { 
                        $('.submission_message').hide(); 

                        $('.save_pass_alert').html($('<div>',{
                            class: "alert alert-success",
                            html: data.message
                        }));
                        $('.alert-success').fadeIn(5000);
                       
                        window.location = data.url
                    }
                    else {
                        $('.save_pass_alert').html($('<div>',{
                            class: "alert alert-danger",
                            html: data.message
                        }));
                        change_password.find('button').replaceWith('<button type="submit" class="btn btn-block btn-primary u-btn-primary transition-3d-hover">'+"{{LANG Submit}}"+'</button>');
                    }
                }
        });
    });
    

</script>
