<div class="settings" id="settings_xd">
</div>


<script>
  const settings = [

    {
      "title": "Share my Profile",
      "name": "share_my_profile",
      "isActive": '{{USER share_my_profile}}',
      "body": "Share your profile"
    },
    {
      "title": "Notification on visit Profile",
      "name": "notification_on_visit_profile",
      "isActive": '{{USER notification_on_visit_profile}}',
      "body": "Get notified when your profile is visted."
    },
    {
      "title": "Notification on Application",
      "name": "notification_on_application",
      "isActive": '{{USER notification_on_application}}',
      "body": "Get notified when when your appliaction status changes"
    },
    {
      "title": "Turn on Email Notifications",
      "name": "turn_on_email_notifications",
      "isActive": '{{USER turn_on_email_notifications}}',
      "body": "Get Notifications on you email too"
    }

  ]


  
  render_settings()
  function render_settings(){
    let row = ""
    settings.forEach(element => {
      let classer = ""
      if (element.isActive === '1') classer = "toggle_gear_active"
      row += `
          <div class="settings_toggle">
            <div class="settings_text">
              <p class="settings_text_title font2 bold600">${element.title}</p>
              <div id="deactivate_switch" class="toggle_gear ${classer}" onclick="deactivate('${element.name}', '${element.isActive}')">
                <div class="toggle_knob"></div>
              </div>
            </div>
            <p class="settings_text_body font2 dark_gray_color">${element.body}</p>
          </div>
      `
    });
    document.getElementById("settings_xd").innerHTML = row
  }

  function deactivate(name, id) {
    let num = +id === 1 ? 0 : 1
    let obj = {[name]: num}
    $.post('{{LINK aj}}' + "/user_dashboard/save-settings?hash=" + $('.main_session').val(), obj, (data => {
      if (data.status === 200) { location.reload()}
    }));
  }

</script>