<div class="settings" id="settings_xd">
  <div class="settings_toggle">
      <div class="settings_text">
          <p class="settings_text_title font2 bold600">Temporarily disable Account</p>
          <div id="deactivate_switch" class="toggle_gear ${classer}" onclick="deactivate()">
            <div class="toggle_knob"></div>
        </div>
      </div>
      <p class="settings_text_body font2 dark_gray_color">Account can still be access within 3 months but if now re-activated after 3 months, account will be permanently deleted</p>
      
  </div>
  <!-- loaded from JS -->
</div>


<script>
  const posts = [

    {
      "userId": 1,
      "id": 10,
      "name": "share_my_profile",
      "isActive": '{{USER share_my_profile}}',
      "title": "optio molestias id quia eum",
      "body": "Quod sed accusamus veritatis error"
    },
    {
      "userId": 2,
      "id": 11,
      "name": "notification_on_visit_profile",
      "isActive": '{{USER notification_on_visit_profile}}',
      "title": "Notify me on Profile Visit",
      "body": "delectus reiciendis molestiae occaecati non minima eveniet qui voluptatibus\naccusamus in eum beatae sit\nvel qui neque voluptates ut commodi qui incidunt\nut animi commodi"
    },
    {
      "userId": 2,
      "id": 12,
      "name": "notification_on_application",
      "isActive": '{{USER notification_on_application}}',
      "title": "Notification on each application",
      "body": "itaque nsapiente quia nihil amet occaecati quia id voluptatem\nincidunt ea est distinctio odio"
    },
    {
      "userId": 2,
      "id": 13,
      "name": "turn_on_email_notifications",
      "isActive": '{{USER turn_on_email_notifications}}',
      "title": "dolorum ut in voluptas mollitia et saepe quo animi",
      "body": "aut dicta possimus sint mollitia voluptatem eius rerum\nsit cumque quod eligendi laborum minima\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam"
    }

  ]

  posts.forEach(element => {
    let classer = ""
    if (element.isActive === '1') classer = "toggle_gear_active"
    document.getElementById("settings_xd").innerHTML += `
        <div class="settings_toggle">
            <div class="settings_text">
                <p class="settings_text_title font2 bold600">${element.name}</p>
                <div class="toggle_gear ${classer}" onclick="deactivate(${element.name})">
                <div class="toggle_knob"></div>
            </div>
        </div>
        <p class="settings_text_body font2 dark_gray_color">${element.body}</p>
            
        </div>
    
    `
  });
  function toggle_gear(target) {
    console.log(target)
  }

  let deactivate_switch = false
  function deactivate(name){
    if(deactivate_switch){

      deactivate_switch = false;
      let obj = {
        notification_on_visit_profile:0
      }
      $.post('{{LINK aj}}' + "/user_dashboard/save-settings?hash=" + $('.main_session').val(),obj, (data => {
          if(data.status === 200){
            console.log(data)
          }
      }));
     
      document.getElementById("deactivate_switch").classList.remove('toggle_gear_active')
    }else{
      let obj = {
        notification_on_visit_profile:1
      }
      deactivate_switch = true
      $.post('{{LINK aj}}' + "/user_dashboard/save-settings?hash=" + $('.main_session').val(), obj ,(data => {
          if(data.status === 200){
            console.log(data)
          }
      }));
      document.getElementById("deactivate_switch").classList.add('toggle_gear_active')
    }
  }

</script>