<style>
  .filter_inputs p{
    margin-bottom: 0;
  }
  .filter_inputs{
    display: flex;
    margin-bottom: 15px;
  }
  .filter_inputs .column{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(240, 240, 240);
    padding: 0 15px;
  }
  .filter_inputs .column:nth-child(1){
    border-left: none;
    padding-left: 0;
  }
  .date_column{
    display: flex;
    align-items: center;
  }
  .date_column input{
    width: 140px;
    font-size: 13px !important;
  }
  .column p{
    font-weight: 600;
    color: #054EA1;
    font-size: 15px;
  }
  .column input,select{
    border: 1px solid #777;
    border-radius: 4px;
    padding: 5px;
    font-size: 13px !important;
    height: 30px;
  }
  .add_stud{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  </style>
<div class="applications">
  <div class="filter_inputs">
    <div class="column">
        <p>Search</p>
        <input type="text" placeholder="Search anything..." id="filter_search" oninput="filter_search()">
    </div>
    <div class="column">
        <p>Date of Birth</p>
        <div class="date_column">
            <input type="date" id="date_start" onchange="filter_date()">
            &nbsp;<p>-</p>&nbsp;
            <input type="date" id="date_end" onchange="filter_date()">
        </div>
    </div>
    <!-- <div class="column">
        <p>Status</p>
        <select name="" id="status_drop" onchange="filter_status()">
            <option value='ANY'>Any</option>
            <option value='accepted'>Accepted</option>
            <option value='rejected'>Rejected</option>
            <option value='queued'>Queued</option>
        </select>
    </div> -->
    <div class="add_stud">
      <button class="agent_add_student" onclick="add_student()">Add Student</button>
    </div>
</div>
  <div class="table_area_app">
    <table class="ga_table">
      <thead>
        <tr>
          <th>Date of Birth</th>
          <th>Names</th>
          <th>Email</th>
          <th>Nationality</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="ga_table-body">

      </tbody>
    </table>
    <p id="no_apps"></p>
  </div>

  <div class="modal_container" id="modal_container">
    <div class="modal_main">
      <div class="modal_pad app_modal" id="insert_modal">
        <!-- Insert modal from JS -->
        
      </div>
    </div>
  </div>
</div>

<script>
  let MY_STUDENTS = []

  $.get('{{LINK aj}}' + "/user_dashboard/get_agent_students?hash=" + $('.main_session').val(), {}, (data => {
    if (data.status === 200) {
      MY_STUDENTS = data.applicant_info
      render_application(data.applicant_info)
    }
  }));
  
  let search_string = ""
  let date_start = "1000-01-01"
  let date_end = "4000-12-12"

  function render_application(data) {
    console.log(MY_STUDENTS)
    let tablerows = ""
    data.forEach((element, index) => {
      console.log(element)
      let date = new Date(element.date_of_birth)
      let date_found = ( Date.parse(date_start) <= Date.parse(element.date_of_birth) && Date.parse(date_end) >= Date.parse(element.date_of_birth) )

      let data_string = `${date.toString().substr(4, 11)} ${element.first_name.toLowerCase()} ${element.nationality.toLowerCase()} ${element.last_name.toLowerCase()} ${element.email} ${element.ischecked}`
      let search_found = data_string.includes(search_string.toLowerCase())

      let rows = `
              <tr>
                  <td>${date.toString().substr(4, 11)}</td>
                  <td class="table_data">${element.first_name.toLowerCase()} ${element.last_name.toLowerCase()}</td>
                  <td class="table_data" style="text-transform: lowercase;">${element.email}</td>
                  <td class="table_data" >${element.nationality}</td>
                  <td class="table_data">${element.ischecked}</td>
                  <td>
                      <div class="table_actions">
                        <i class="fas fa-eye table_eye" onclick="open_action('VIEW', '${element.id}')"></i>
                        <i class="fas fa-edit table_edit" onclick="open_action('EDIT', '${element.id}')"></i>
                        <i class="fas fa-trash table_trash" onclick="open_action('DELETE', '${element.id}')"></i>
                      </div>
                  </td>
              </tr>
          `
          if(search_found && date_found)
          tablerows += rows
    })
    document.getElementById("ga_table-body").innerHTML = tablerows
    if (data.length === 0) document.getElementById("no_apps").innerHTML = '<p class="m-10 font2 bold600">No Students</p>'
    else document.getElementById("no_apps").innerHTML = ""

    console.log("END", MY_STUDENTS)
  }

  function filter_search(){
    search_string = document.getElementById("filter_search").value
    render_application(MY_STUDENTS)
  }
  function filter_date(){
        date_start = document.getElementById("date_start").value || "1000-01-01"
        date_end = document.getElementById("date_end").value || "4000-12-12"
        render_application(MY_STUDENTS)
    }

  function open_action(action, app_id) {

    if (action === "VIEW") {
      window.location.href = `{{LINK dashboard/view_application}}/{{ME username}}?student_number=${app_id}`;
    }
    if (action === "EDIT") {
      console.log(app_id, MY_STUDENTS)
      MY_STUDENTS.forEach(element => {
        if (element.id == app_id) {
          document.getElementById("modal_container").style.display = "block"
          edit_student(element, app_id)
        }
      });
    }
    if (action === "DELETE") {
      MY_STUDENTS.forEach(element => {
        if (element.id == app_id) {
          document.getElementById("modal_container").style.display = "block"
          student_eraser(app_id)
        }
      });
    }

  }
  function student_eraser(app_id){
    document.getElementById("insert_modal").innerHTML = `
    <form class="delete_stud" method="post">
          <input type="text" id="id" name="id" hidden>
          <p>Are you sure you want to Delete?</p>
          <br/>
          <div class="add_student_footer mt-5">
            <p onclick="erase_student()">Delete</p>
            <p onclick="closeModal()">Cancel</p>
          </div>
        </form>
    
    `
    document.getElementById("id").value = app_id
  }

  function closeModal() {
    document.getElementById("modal_container").style.display = "none"
  }
  let logged_user_id = "{{ME id}}";
  
  function send_edit_request(id) {
    $.get('{{LINK aj/front_end_api/send_edit_request}}?' + "hash=<?php echo CreateMainSession() ?>", { id: id }, function (data) {
      console.log("SEND REQ RESPONSE", data)
      closeModal()
    });
  }

  function submitStudent(){
    let form1 = document.querySelector('.add_student_xd');
    var formData = new FormData(form1);
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        let new_data = JSON.parse(request.response);
        MY_STUDENTS = new_data.data
        render_application(new_data.data)
        closeModal();
      }
    }
    request.open("POST", `{{LINK aj/user_dashboard/add_agent_student}}?hash=${$('.main_session').val()}`);
    request.send(formData);
  }

  function update_student(){
    let form1 = document.querySelector('.edit_student_xd');
    var formData = new FormData(form1);
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        let new_data = JSON.parse(request.response);
        MY_STUDENTS = new_data.data
        render_application(new_data.data)
        closeModal();
      }
    }
    request.open("POST", `{{LINK aj/user_dashboard/update_agent_student}}?hash=${$('.main_session').val()}`);
    request.send(formData);
  }
  function erase_student(){
    let form1 = document.querySelector('.delete_stud');
    var formData = new FormData(form1);
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === 4) {
        let new_data = JSON.parse(request.response);
        MY_STUDENTS = new_data.data
        render_application(new_data.data)
        closeModal();
      }
    }
    request.open("POST", `{{LINK aj/user_dashboard/delete_agent_student}}?hash=${$('.main_session').val()}`);
    request.send(formData);
  }

  function add_student() {
    document.getElementById("modal_container").style.display = "block"
    document.getElementById("insert_modal").innerHTML = `
        <form class="add_student_xd" method="post">
                <div class="add_student_xd_top">
                  <p class="blue_color bold600">Add Student (3/<span id="add_student_progress">1</span>)</p>
                  <i class="fas fa-times blue_color" onclick="closeModal()"></i>
                </div>
                <div class="add_student_xd_body">
                  <div class="add_student_switch" id="add_stud_info">
                    <div >
                      <div class="add_student_rows">
                        <p class="font2">First Name <span id="fname_a"></span></p>
                        <input type="text" name="first_name" id="Applicant_fname">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Last Name <span id="lname_a"></span></p>
                        <input type="text" name="last_name" id="Applicant_lname">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Father's Names <span id="father_a"></span></p>
                        <input type="text" name="fathers_name" id="father_name">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Mother's Name <span id="mother_a"></span></p>
                        <input type="text" name="mothers_name" id="mother_name">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Date of Birth <span id="dob_a"></span></p>
                        <input type="date" name="date_of_birth" id="d_o_b">
                      </div>
                    </div>
            
                    <div class="add_student_footer">
                      <p onclick="add_student_switch('add_stud_det')">Next</p>
                    </div>
                  </div>

                  <div class="add_student_switch" id="add_stud_det">
                    <div >
                      <div class="add_student_rows">
                        
                        <p class="font2">Line 1<span id="phone1_a"></span></p>
                        <input type="text" name="phone_number" id="phone1">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Line 2 (optional)</p>
                        <input type="text" name="phone_number_2"  id="phone2">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Email<span id="email_a"></span></p>
                        <input type="text" name="email" id="email">
                      </div> 
                      <div class="add_student_rows">
                        <p class="font2">Passport Number<span id="passport_a"></span></p>
                        <input type="text" name="passport_number" id="passport">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Nationality<span id="country_a"></span></p>
                        <input type="text" name="nationality" id="country">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Country of Residence<span id="residence_a"></span></p>
                        <input type="text" name="country_of_residence" id="residence">
                      </div>
                    </div>
                    <div class="add_student_footer">
                      <p onclick="add_student_switch('add_stud_info')">Back</p>
                      <p onclick="add_student_switch('add_stud_docs')">Next</p>
                    </div>
                  </div>

                  <div class="add_student_switch" id="add_stud_docs">
                    <div >
                      <div class="add_student_rows">
                        <p class="font2">Diploma File</p>
                        <input type="file" name="diploma_file" id="diploma">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Transcript File</p>
                        <input type="file" name="transcript_file" id="transcript">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Language Certificate</p>
                        <input type="file" name="certificate" id="certificate">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">Passport</p>
                        <input type="file" name="passport_file" id="passport_file">
                      </div>
                      <div class="add_student_rows">
                        <p class="font2">ID Photo</p>
                        <input type="file" name="id_photo" id="id_photo">
                      </div>
                    </div>
                    <div class="add_student_footer">
                      <p onclick="add_student_switch('add_stud_det')">Back</p>
                      <p onclick="submitStudent()">Save </p>
                    </div>
                  </div>

                </div>
              </form>
          
          `
  }

  function edit_student(element, id) {
    document.getElementById("modal_container").style.display = "block"
    document.getElementById("insert_modal").innerHTML = `
    <form class="edit_student_xd" method="post">
          <div class="add_student_xd_top">
            <p class="blue_color bold600">Edit Student (23/<span id="add_student_progress">1</span>)</p>
            <i class="fas fa-times blue_color" onclick="closeModal()"></i>
          </div>
          <div class="add_student_xd_body">
            <input type="text" name="id" id="id" hidden>

            <div class="add_student_switch" id="add_stud_info">
              <div>
                <div class="add_student_rows">
                  <p class="font2">First Name <span id="fname_a"></span></p>
                  <input type="text" name="first_name" id="Applicant_fname">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Last Name <span id="lname_a"></span></p>
                  <input type="text" name="last_name" id="Applicant_lname">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Father's Names <span id="father_a"></span></p>
                  <input type="text" name="fathers_name" id="father_name">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Mother's Name <span id="mother_a"></span></p>
                  <input type="text" name="mothers_name" id="mother_name">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Date of Birth <span id="dob_a"></span></p>
                  <input type="date" name="date_of_birth" id="d_o_b">
                </div>
              </div>

              <div class="add_student_footer">
                <p onclick="add_student_switch('add_stud_det')">Next</p>
              </div>
            </div>

            <div class="add_student_switch" id="add_stud_det">
              <div>
                <div class="add_student_rows">

                  <p class="font2">Line 1<span id="phone1_a"></span></p>
                  <input type="text" name="phone_number" id="phone1">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Line 2 (optional)</p>
                  <input type="text" name="phone_number_2" id="phone2">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Email<span id="email_a"></span></p>
                  <input type="text" name="email" id="email">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Passport Number<span id="passport_a"></span></p>
                  <input type="text" name="passport_number" id="passport">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Nationality<span id="country_a"></span></p>
                  <input type="text" name="nationality" id="country">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Country of Residence<span id="residence_a"></span></p>
                  <input type="text" name="country_of_residence" id="residence">
                </div>
              </div>
              <div class="add_student_footer">
                <p onclick="add_student_switch('add_stud_info')">Back</p>
                <p onclick="add_student_switch('add_stud_docs')">Next</p>
              </div>
            </div>

            <div class="add_student_switch" id="add_stud_docs">
              <div>
                <div class="add_student_rows">
                  <p class="font2">Diploma File</p>
                  <input type="file" name="diploma_file" id="diploma">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Transcript File</p>
                  <input type="file" name="transcript_file" id="transcript">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Language Certificate</p>
                  <input type="file" name="certificate" id="certificate">
                </div>
                <div class="add_student_rows">
                  <p class="font2">Passport</p>
                  <input type="file" name="passport_file" id="passport_file">
                </div>
                <div class="add_student_rows">
                  <p class="font2">ID Photo</p>
                  <input type="file" name="id_photo" id="id_photo">
                </div>
              </div>
              <div class="add_student_footer">
                <p onclick="add_student_switch('add_stud_det')">Back</p>
                <button type="submit" onclick=(update_student())>Save </button>
              </div>
            </div>

          </div>
        </form>
    `


    document.getElementById("Applicant_fname").value = element.first_name
    document.getElementById("Applicant_lname").value = element.last_name
    document.getElementById("father_name").value = element.fathers_name
    document.getElementById("mother_name").value = element.mothers_name
    document.getElementById("d_o_b").value = element.date_of_birth

    document.getElementById("phone1").value = element.phone_number
    document.getElementById("phone2").value = element.phone_number_2
    document.getElementById("email").value = element.email
    document.getElementById("passport").value = element.passport_number
    document.getElementById("country").value = element.country_of_residence
    document.getElementById("residence").value = element.nationality

    document.getElementById("diploma").value = element.diploma_file || ""
    document.getElementById("transcript").value = element.transcript_file || ""
    document.getElementById("certificate").value = element.language_certificate || ""
    document.getElementById("passport_file").value = element.passport_file || ""
    document.getElementById("id_photo").value = element.id_photo || ""

    document.getElementById("id").value = id
  }
  function add_student_switch(step) {
    if (error_check(step)) {
      if (step === "add_stud_info") document.getElementById("add_student_progress").innerHTML = 1
      if (step === "add_stud_det") document.getElementById("add_student_progress").innerHTML = 2
      if (step === "add_stud_docs") document.getElementById("add_student_progress").innerHTML = 3
      document.getElementById("add_stud_info").style.display = "none"
      document.getElementById("add_stud_det").style.display = "none"
      document.getElementById("add_stud_docs").style.display = "none"
      document.getElementById(step).style.display = "block"
    }
  }
  function error_check(step) {
    if (step === "add_stud_det") {
      let fname = document.getElementById("Applicant_fname").value
      let lname = document.getElementById("Applicant_lname").value
      let father = document.getElementById("father_name").value
      let mother = document.getElementById("mother_name").value
      let dob = document.getElementById("d_o_b").value

      document.getElementById("fname_a").innerHTML = fname ? "" : "*"
      document.getElementById("lname_a").innerHTML = lname ? "" : "*"
      document.getElementById("father_a").innerHTML = father ? "" : "*"
      document.getElementById("mother_a").innerHTML = mother ? "" : "*"
      document.getElementById("dob_a").innerHTML = dob ? "" : "*"

      if (fname && lname && father && mother && dob) return true
      return false
    }
    if (step === "add_stud_docs") {
      let phone = document.getElementById("phone1").value
      let email = document.getElementById("email").value
      let passport = document.getElementById("passport").value
      let country = document.getElementById("country").value
      let residence = document.getElementById("residence").value

      document.getElementById("phone1_a").innerHTML = phone ? "" : "*"
      document.getElementById("email_a").innerHTML = email ? "" : "*"
      document.getElementById("passport_a").innerHTML = passport ? "" : "*"
      document.getElementById("country_a").innerHTML = country ? "" : "*"
      document.getElementById("residence_a").innerHTML = residence ? "" : "*"

      if (phone && email && passport && country && residence) return true
      return false
    }
    return true
  }

</script>