<div class="applications">
    <div class="view_app_card">
        <div class="view_app_card_top">
            <img id="log_user_pp" src="https://static.vecteezy.com/system/resources/thumbnails/000/512/866/small/57_Student.jpg" alt="student">
            <div>
                <p class="font4 bold600 dark_color" id="appname">Undefined</p>
                <p class="font3 dark_color mb-3" id="email2">Undefined</p>
                <p class="font2 blue_color bold600" ><span id="app_num">#</span> Application(s)</p>
            </div>
        </div>
        
        <div class="view_app_body">
            <p class="font4 bold600 blue_color mt-10">Personal Details</p>
            <div class="sentence">
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">First Name</p><p id="fname" >Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Last Name</p><p id="lname">Undefined</p>
                    
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Date of Birth</p><p id="dob">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Email</p><p id="email">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Line</p><p id="phone">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Line 2</p><p id="phone2">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Father</p><p id="father">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Mother</p><p id="mother">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Residence</p><p id="residence">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Nationality</p><p id="nationality">Undefined</p>
                </div>
            </div>
        </div>
        <div class="view_app_body pt-10">
            <p class="font4 bold600 blue_color mt-10">Documents</p>
            <div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">ID Photo</p><p id="id_photo_file" >Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Transcript</p><p id="transcript">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Diploma</p><p id="diploma">Undefined</p>
                </div>
                <div class="view_app_rows font2 dark_color">
                    <p class="bold600 font3">Language Certificate</p><p id="certificate">Undefined</p>
                </div>
            </div>
        </div>
    </div>
    <div class="table_area_app">
        <table class="ga_table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>University</th>
                    <th>Programme</th>
                    <th>Status</th>
                    <th>Acc. Letter</th>
                </tr>
            </thead>
            <tbody id="ga_table-body">
                
            </tbody>
          </table>
          
          <p id="no_apps"></p>
      </div>

</div>


<script>

    let link_id = "<?php echo isset($_GET['application_number'])? $_GET['application_number'] : '' ; ?>";
    let user__id = "{{ME id}}"
    let applicant_info_req = "<?php echo isset( $_GET['student_number'])?  $_GET['student_number'] : ' '; ?>"

    if(link_id){
        $.get('{{LINK aj}}' + "/user_dashboard/get_agent_students?hash=" + $('.main_session').val(), {id:link_id, user_id:user__id, api_type: "single"}, (data => {
            if(data.status === 200){
                render_application_details(data.applicant_university)
                render_applicant(data.applicant_info)
            }
        }));
    } else if(applicant_info_req) {
        $.get('{{LINK aj}}' + "/user_dashboard/get_agent_students?hash=" + $('.main_session').val(), {id:applicant_info_req, user_id:user__id, api_type: "get_student"}, (data => {
            if(data.status === 200){
                render_application_details(data.applicant_university)
                render_applicant(data.applicant_info)
            }
        }));
    }


    function render_application_details(data){
        // let d = new Date(+data.created_at)
        // let date = d.toDateString();
        document.getElementById("app_num").innerHTML = data.length
        let error = "<p style='color:tomato;'>Missing</p>"
        
        let rows = ""
        data.forEach(element => {
            let letter = data.acceptance_letter ? `<button class="app_files" onclick="open_link('${data.acceptance_letter}')">View</button>` : error

            rows += `
                <tr>
                    <td>${element.created_at.substr(0,10)}</td>
                    <td>${element.university_id}</td>
                    <td class="sentence">${element.program_id.toLowerCase()}</td>
                    <td>${element.application_status_slug}</td>
                    <td>${letter}</td>
                </tr>
            `
        });
        document.getElementById("ga_table-body").innerHTML = rows

    }
    function file_error_templete(id, file_name){
        let file_error = `
            <form class="immediate_form" id="id_photo_form">
                <label style="background-color:tomato;" for="missing_photo" class="app_files">Upload</label>
                <input type="text" value="${id}" name="id" hidden />
                <input type="file" name='${file_name}' id="missing_photo" hidden onchange="upload_file()">
            </form>
        `
        return file_error
    }
    function render_applicant(data){
        console.log(data)
        let error = "<p style='color:tomato;'>Missing</p>"
        
        document.getElementById("appname").innerHTML = data.first_name + " " +data.last_name
        document.getElementById("lname").innerHTML = data.last_name || error
        document.getElementById("fname").innerHTML = data.first_name || error
        document.getElementById("dob").innerHTML = data.date_of_birth || error
        document.getElementById("email").innerHTML = data.email || error
        document.getElementById("email2").innerHTML = data.email || error
        document.getElementById("phone").innerHTML = data.phone_number
        document.getElementById("phone2").innerHTML = data.phone_number_2
        document.getElementById("father").innerHTML = data.fathers_name || error
        document.getElementById("mother").innerHTML = data.mothers_name || error
        document.getElementById("residence").innerHTML = data.country_of_residence || error
        document.getElementById("nationality").innerHTML = data.nationality || error
        document.getElementById("id_photo_file").innerHTML = data.id_photo ?`<button class="app_files" onclick="open_link('${data.id_photo}')">View</button>` : file_error_templete(data.id, 'id_photo')
        document.getElementById("transcript").innerHTML = data.transcript_file ?  `<button class="app_files" onclick="open_link('${data.transcript_file}')">View</button>` : file_error_templete(data.id, 'transcript')
        document.getElementById("certificate").innerHTML = data.language_certificate ? `<button class="app_files" onclick="open_link('${data.language_certificate}')">View</button>` : file_error_templete(data.id, 'certificate')
        document.getElementById("diploma").innerHTML = data.diploma_file ? `<button class="app_files" onclick="open_link('${data.diploma_file}')">View</button>` : file_error_templete(data.id, 'diploma')

        document.getElementById("log_user_pp").src = data.id_photo ? data.id_photo : "https://static.vecteezy.com/system/resources/thumbnails/000/512/866/small/57_Student.jpg"
    }
    function open_link(link){
        window.open(link, '_blank')
    }

    function upload_file(){
      let form1 = document.getElementById('id_photo_form')
      var formData = new FormData(form1);
      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        if (request.readyState === 4) {
            let data = JSON.parse(request.response);
        //   console.log("HERE", new_data)
            render_application_details(data.applicant_university)
            render_applicant(data.applicant_info)
        }
      }
      request.open("POST", `{{LINK aj/user_dashboard/upload_missing}}?hash=${$('.main_session').val()}`);
      request.send(formData);
    }
</script>