<main class="mainArea8">
    <div class="mainAreaRight8">
      <div class="filterTop8">
        <span>X</span>
        <span>Filter Options:</span>
      </div>
      <div class="filterBody8">
        <div class="search-bar8">
          <input type="search" placeholder="Search..." />
          <input type="submit" value="Search" />
        </div>
        <div class="filterDegree8">
          <span class="filterHeader8">Degree</span>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>Associate</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>Associate</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>Associate</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>Associate</span>
          </div>
        </div>
        <div class="dropdownFilter8">
          <span class="filterHeader8">Program (Area of Study)</span>
          <select name="" id="">
            <option value="All">All</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
          </select>
        </div>
        <div class="dropdownFilter8">
          <span class="filterHeader8">University (Area of Study)</span>
          <select name="" id="">
            <option value="All">All</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
            <option value="All">Software Engineering</option>
          </select>
        </div>
        <div class="filterDegree8">
          <span class="filterHeader8">Language</span>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>English</span>
          </div>
          <div class="filterCheck8">
            <input type="checkbox" name="" id="" />
            <span>Turkish</span>
          </div>
        </div>
        <div class="priceFilter">
          <span class="filterHeader8">Price</span>
          <div class="priceInput8">
            <div>From:</div>
            <input type="text" name="" id="" />
          </div>
          <div class="priceInput8">
            <div>To:</div>
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>
    </div>
    <div class="mainAreaLeft8">
      <div class="cardList8">
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
        <div class="programCard8">
          <div class="programCardLeft8">
            <div class="cardTop8">
              <div class="cardTopLeftImg"></div>
              <div class="cardTopRight">
                <span class="cardUniName">ISTANBUL MEDIPOL UNIVERSITY</span>
                <span class="cardProName"
                  >International Logistics Management</span
                >
                <span class="cardCityName">Instanbul</span>
              </div>
            </div>
            <div class="cardBottom8">
              <div class="cardDetailcards">
                <span class="DetHeader8">Duration</span>
                <span class="DetText8">4 years</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Language</span>
                <span class="DetText8">English</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Fees</span>
                <span class="DetText8">€1,500/year</span>
              </div>
              <div class="cardDetailcards">
                <span class="DetHeader8">Discount</span>
                <span class="DetText8">€250/year</span>
              </div>
            </div>
          </div>
          <div class="programCardRight8">
            <button class="blueBtn8">Add to Application List</button>
            <button class="redBtn8">Apply Now</button>
            <button class="whiteBtn8">Details</button>
          </div>
        </div>
      </div>
      <div class="cardListPages8">
          <div class="pagination8">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
          </div>
      </div>
    </div>
  </main>