
.card-body {
    height: 100% !important;
    max-height: 60vh !important;
    overflow-y: auto !important;
}
.applyInputRow {
    display: flex;
}
.applyInputRow input {
    border: 1px slid red;
    flex: 1;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #a2a4d6;
}
.apply-input-label {
    font-weight: 600;
    margin-top: 15px;
    color: #121212;
}
.dropdown-menu.dropdown-menu-big {
    padding: 0;
    right: 0 !important;
    min-width: 700px;
    top: 15px !important;
}
.dropdown-menu.dropdown-menu-big {
    padding: 0;
    min-width: 700px;
    top: 15px !important;
    left: unset !important;
    right: -550px !important;
}
.flex-grow-1 p {
    justify-content: flex-start !important;
}
.flex-grow-1 p > * {
    margin: 0 5px;
}