<li class="px-4 py-3 list-group-item" data-id={{ID}}>
    <a href="{{URL}}" class="d-flex align-items-center hide-show-toggler">
        <div class="flex-shrink-0">
            <figure class="avatar mr-3">
                <span
                    class="avatar-title bg-info-bright text-info rounded-circle">
                   {{ICON}}
                </span>
            </figure>
        </div>
        <div class="flex-grow-1">
            <p class="mb-0 line-height-20 d-flex justify-content-between">
               {{TEXT}}
                <i title="Mark as read" data-toggle="tooltip"
                   class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
            </p>
            <span class="text-muted small">{{TIME}}</span>
        </div>
    </a>
</li>